{%  extends "layout.html" %}

{%  block body %}
<h1>DCA - Detector Construction Application for Aachen</h1>

<div class="container-fluid">
    <p>Webapplication used to organise the production of the 2S-Module at RWTH Aachen by Institute 1B (Prof. Feld) and 3B (Prof. Pooth).</p>

    <p>Programmed and Developed by Max Beckers as a master thesis project.</p>
</div>
{% endblock body %}