{%  extends "layout.html" %}


{%  block header_navbar %}
    <div>
        <a href="https://cmsdca.cern.ch" class="btn btn-white btn-lg active" role="button" aria-pressed="true"><i class="fas fa-link"></i> <span class="btn-link">CMS DCA</span></a>
        <a href="https://cmsoms.cern.ch" class="btn btn-white btn-lg active" role="button" aria-pressed="true"><i class="fas fa-link"></i> <span class="btn-link">CMS OMS</span></a>
        <a href="https://twiki.cern.ch/twiki/bin/viewauth/CMS/ConstructionDB" class="btn btn-white btn-lg active" role="button" aria-pressed="true"><i class="fas fa-book"></i> <span class="btn-link">CMS DCA Docs</span></a>
        <a href="https://gitlab.cern.ch/mbeckers/dca-aachen" class="btn btn-white btn-lg active" role="button" aria-pressed="true"><i class="fab fa-gitlab"></i></i> <span class="btn-link">Gitlab</span></a>


    </div>
{%  endblock header_navbar %}



{%  block body %}
<h1>DCA - Detector Construction Application for Aachen</h1>

<div class="container py-4 py-xl-5">
    <div class="row mb-5">
        <div class="col-md-8 col-xl-6 text-center mx-auto">
            <h2>Applications</h2>
            <p class="w-lg-50"></p>
        </div>
    </div>
    <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-xl-3">
        <div class="col">
            <div><a href="{{ url_for('flask_metrology.metrology_overview') }}"><img class="rounded img-fluid d-block w-100 fit-cover" style="height: 200px;" src="{{ url_for('static', filename='img/metrology/metrology_icon.jpg') }}" /></a>
                <div class="py-4">
                    <h4>Metrology</h4>
                    <ul>
                      <li><a href="{{ url_for('flask_metrology.metrology_sensor') }}">Sensor-Sensor Alignment</a></li>
                      <li><a href="{{ url_for('flask_metrology.metrology_bridge') }}">Sensor-Bridge-Alignment</a></li>
                      <li><a href="{{ url_for('flask_metrology.metrology_height') }}">Height-Profile</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col">
            <div><a href="{{ url_for('flask_pulltest.pulltest_overview') }}"><img class="rounded img-fluid d-block w-100 fit-cover" style="height: 200px;" src="{{ url_for('static', filename='img/pulltest/pulltest_icon.jpg') }}" /></a>
                <div class="py-4">
                    <h4>Pulltest</h4>
                    <ul>
                      <li><a href="{{ url_for('flask_pulltest.pulltest_module') }}">Pulltest Module</a></li>
                      <li><a href="{{ url_for('flask_pulltest.pulltest_HV') }}">Pulltest HV</a></li>
{#                      <li><a href="{{ url_for('flask_pulltest.pulltest_HV') }}">HV measurement</a></li>#}
                    </ul>
                </div>
            </div>
        </div>
        <div class="col">
            <div><a href="{{ url_for('flask_iv.iv_overview') }}"><img class="rounded img-fluid d-block w-100 fit-cover" style="height: 200px; background-color: white;" src="{{ url_for('static', filename='img/iv/iv_icon.png') }}" /></a>
                <div class="py-4">
                    <h4>Probestation</h4>
                    <ul>
                       <li><a href="{{ url_for('flask_iv.iv_overview') }}">IV-Curves Overview</a></li>
                       <li><a href="{{ url_for('flask_ivt.ivt_overview') }}">IV-t-Curves Overview</a></li>
                       <li><a href="{{ url_for('flask_hv.hv_overview') }}">HV Overview</a></li>
{#                      <li><a href="{{ url_for('flask_iv.iv_overview') }}">HV measurement</a></li>#}
                    </ul>
                </div>
            </div>
        </div>
        <div class="col">
            <div><a href="{{ url_for('flask_si.si_overview') }}"><img class="rounded img-fluid d-block w-100 fit-cover" style="height: 200px; background-color: white;" src="{{ url_for('static', filename='img/surface_inspection/microscope-solid.svg') }}" /></a>
                <div class="py-4">
                    <h4>Pictures</h4>
                    <ul>
                       <li><a href="{{ url_for('flask_si.si_overview') }}">Surface Inspection</a></li>
                       <li><a href="{{ url_for('flask_si.si_overview') }}">Edge Inspection</a></li>
{#                       <li><a href="{{ url_for('flask_hv.hv_overview') }}">HV Overview</a></li>#}
{#                      <li><a href="{{ url_for('flask_iv.iv_overview') }}">HV measurement</a></li>#}
                    </ul>
                </div>
            </div>
        </div>
        <div class="col">
            <div><a href="{{ url_for('flask_modules.general_modules') }}"><img class="rounded img-fluid d-block w-100 fit-cover" style="height: 200px;" src="{{ url_for('static', filename='img/modules/module_icon.jpg') }}" /></a>
                <div class="py-4">
                    <h4>Modules</h4>
                    <ul>
                      <li><a href="{{ url_for('flask_modules.general_modules') }}">Modules</a></li>
                      <li><a href="{{ url_for('flask_modules.general_sensors') }}">Sensors</a></li>
                      <li><a href="{{ url_for('flask_modules.general_add_module') }}">Add a new module</a></li>
{#                      <li><a href="{{ url_for('flask_pulltest.pulltest_product') }}">HV measurement</a></li>#}
                    </ul>
                </div>
            </div>
        </div>
        <div class="col">
            <div><a href="{{ url_for('flask_modules.general_modules') }}"><img class="rounded img-fluid d-block w-100 fit-cover" style="height: 200px;" src="{{ url_for('static', filename='img/workflow/assembly_workflow.pdf') }}" /></a>
                <div class="py-4">
                    <h4>Workflow</h4>
                    <ul>
                      <li><a href="{{ url_for('flask_workflow.workflow') }}">Overview</a></li>
{#                      <li><a href="{{ url_for('flask_modules.general_add_module') }}">Add a new module</a></li>#}
{#                      <li><a href="{{ url_for('flask_pulltest.pulltest_product') }}">HV measurement</a></li>#}
                    </ul>
                </div>
            </div>
        </div>
        <div class="col">
            <div><a href="{{ url_for('flask_modules.general_modules') }}"><img class="rounded img-fluid d-block w-100 fit-cover" style="height: 200px;" src="{{ url_for('static', filename='img/tools/gluing_icon.png') }}" /></a>
                <div class="py-4">
                    <h4>Tools</h4>
                    <ul>
                      <li><a href="{{ url_for('flask_modules.general_modules') }}">Overview</a></li>
{#                      <li><a href="{{ url_for('flask_modules.general_add_module') }}">Add a new module</a></li>#}
{#                      <li><a href="{{ url_for('flask_pulltest.pulltest_product') }}">HV measurement</a></li>#}
                    </ul>
                </div>
            </div>
        </div>
        <div class="col">
            <div><a href="{{ url_for('flask_statistics.statistics_overview') }}"><img class="rounded img-fluid d-block w-100 fit-cover" style="height: 200px;" src="{{ url_for('static', filename='img/statistics/statistics_icon.png') }}" /></a>
                <div class="py-4">
                    <h4>Statistics</h4>
                    <ul>
                      <li><a href="{{ url_for('flask_statistics.statistics_overview') }}">Overview</a></li>
{#                      <li><a href="{{ url_for('flask_modules.general_add_module') }}">Add a new module</a></li>#}
{#                      <li><a href="{{ url_for('flask_pulltest.pulltest_product') }}">HV measurement</a></li>#}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}