<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSS only -->

    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
    <script type="text/javascript" charset="utf8" src="../static/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../static/bootstrap_table/bootstrap-table.min.css">

    <link rel="stylesheet" href="../static/bootstrap-icons/bootstrap-icons.css">
    <link rel="stylesheet" href="../static/css/Nunito.css">
    <link rel="stylesheet" href="../static/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="../static/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="../static/fontawesome/css/brands.min.css">
    <link rel="stylesheet" href="../static/fontawesome/css/solid.min.css">
    <link rel="stylesheet" href="../static/fontawesome/css/regular.min.css">

    <link rel="stylesheet" href="../static/fonts/ionicons.min.css">
    <link rel="stylesheet" href="../static/css/mermaid.min.css">

    <link rel="stylesheet" type="text/css" href="../static/datatables/datatables.css">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/image_zoom_on_click.css') }}">

    <link rel="stylesheet" href="../static/prism/prism.css">
    <script type="text/javascript" charset="utf8" src="../static/prism/prism.js"></script>

    <link rel="stylesheet" href="../static/annotorious/annotorious.min.css">
    <script type="text/javascript" charset="utf8" src="../static/annotorious/annotorious.min.js"></script>

    <script src="../static/js/bs-init.js"></script>
    <script src="../static/js/theme.js"></script>
    <script type="text/javascript" charset="utf8" src="../static/js/jquery.min.js"></script>

    <script type="text/javascript" charset="utf8" src="../static/js/plotly.min.js"></script>
    <script type="text/javascript" charset="utf8" src="../static/openseadragon/openseadragon.min.js"></script>
    <script src="../static/js/zooming.min.js"></script>

    {% if title %}
       {% block title %}
            <title>{{ title }}</title>
       {% endblock title %}
    {% else %}
        <title>DCA - Aachen</title>
    {% endif %}
</head>
<body>


<div id="wrapper" class="toggled">
        <!-- NAVBAR on left side	-->
        <nav id="sidebar" class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
            <div id="sidebar-nav" class="container-fluid d-flex flex-column p-0"><a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
                    <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-water"></i></div>
                    <div class="sidebar-brand-text mx-3"><span>DCA-Aachen</span></div>

                </a>
                <hr class="sidebar-divider my-0">
                <ul class="navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('home') }}"><i class="fas fa-tachometer-alt"></i><span>Home</span></a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="true"><span><i class="fas fa-user"></i>General</span></a>
                        <ul class="dropdown-menu">
{#                          <li><a class="dropdown-item" href="{{ url_for('home') }}">Home</a></li>#}
                          <li><a class="dropdown-item" href="{{ url_for('flask_general.general_operators') }}">Operators</a></li>
                          <li><a class="dropdown-item" href="{{ url_for('flask_general.general_station') }}">Stations</a></li>
                          <li><a class="dropdown-item" href="{{ url_for('flask_general.general_grade') }}">Grade</a></li>
                          <li><a class="dropdown-item" href="{{ url_for('flask_general.general_assemblysteps') }}">Assemblysteps</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="true"><i class="fas fa-window-maximize"></i>Metrology</a>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="{{ url_for('flask_metrology.metrology_overview') }}">Metrology Overview</a></li>
                          <li><a class="dropdown-item" href="{{ url_for('flask_metrology.metrology_sensor') }}">Sensor-Sensor-Alignment</a></li>
                          <li><a class="dropdown-item" href="{{ url_for('flask_metrology.metrology_bridge') }}">Sensor-Bridge-Alignment</a></li>
                          <li><a class="dropdown-item" href="{{ url_for('flask_metrology.metrology_height') }}">Height-Profile</a></li>

                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="true"><i class="fas fa-window-maximize"></i>Pulltest</a>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="{{ url_for('flask_pulltest.pulltest_overview') }}">Overview</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('flask_pulltest.pulltest_module') }}">Pulltest Module</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('flask_pulltest.pulltest_HV') }}">Pulltest HV</a></li>
                          <li><a class="dropdown-item" href="{{ url_for('flask_pulltest.pulltest_product') }}">Program Config</a></li>
                          <li><a class="dropdown-item" href="{{ url_for('flask_pulltest.pulltest_correctionfactor') }}">Correction factor</a></li>
{#                          <li><a class="dropdown-item" href="{{ url_for('time_check_splash') }}">Time Check Splash</a></li>#}
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="true"><i class="fas fa-window-maximize"></i>Probestation</a>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="{{ url_for('flask_iv.iv_overview') }}">IV Overview</a></li>
                          <li><a class="dropdown-item" href="{{ url_for('flask_iv.iv_sensor') }}">IV Sensor</a></li>
                          <li><a class="dropdown-item" href="{{ url_for('flask_iv.iv_module') }}">IV Module</a></li>
                          <li><a class="dropdown-item" href="{{ url_for('flask_iv.iv_plot') }}">IV Plot</a></li>
                          <li><a class="dropdown-item" href="{{ url_for('flask_ivt.ivt_overview') }}">IVt Overview</a></li>
                          <li><a class="dropdown-item" href="{{ url_for('flask_ivt.ivt_sensor') }}">IVt Sensor</a></li>
                          <li><a class="dropdown-item" href="{{ url_for('flask_ivt.ivt_module') }}">IVt Module</a></li>
                          <li><a class="dropdown-item" href="{{ url_for('flask_ivt.ivt_plot') }}">IVt Plot</a></li>
                          <li><a class="dropdown-item" href="{{ url_for('flask_hv.hv_overview') }}">HV Overview</a></li>
                          <li><a class="dropdown-item" href="{{ url_for('flask_hv.hv_sensor') }}">HV Sensor</a></li>
                          <li><a class="dropdown-item" href="{{ url_for('flask_hv.hv_module') }}">HV Module</a></li>
                          <li><a class="dropdown-item" href="{{ url_for('flask_hv.hv_plot') }}">HV Plot</a></li>
                        </ul>
                    </li>
{#                   <li class="nav-item dropdown">#}
{#                        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="true"><i class="fas fa-window-maximize"></i>IV-t-Measurement</a>#}
{#                        <ul class="dropdown-menu">#}
{##}
{#                        </ul>#}
{#                    </li>#}
                   <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="true"><i class="fas fa-window-maximize"></i>Images</a>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="{{ url_for('flask_si.si_overview') }}">Surface Inspection</a></li>
                          <li><a class="dropdown-item" href="{{ url_for('flask_si.si_sensor') }}">SI - Sensor</a></li>
                          <li><a class="dropdown-item" href="{{ url_for('flask_si.si_module') }}">SI - Module</a></li>
{#                          <li><a class="dropdown-item" href="{{ url_for('flask_si.h_plot') }}">Plot</a></li>#}
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="true"><i class="fas fa-window-maximize"></i>Modules</a>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="{{ url_for('flask_modules.general_modules') }}">Modules</a></li>
                          <li><a class="dropdown-item" href="{{ url_for('flask_modules.general_sensors') }}">Sensors</a></li>
                          <li><a class="dropdown-item" href="{{ url_for('flask_modules.general_seh') }}">SEH</a></li>
                          <li><a class="dropdown-item" href="{{ url_for('flask_modules.general_feh') }}">FEH</a></li>
{#                          <li><a class="dropdown-item" href="{{ url_for('flask_modules.modules_laufzettel') }}">Laufzetel</a></li>#}
{#                          <li><a class="dropdown-item" href="{{ url_for('home') }}">Finals</a></li>#}
{#                          <li><a class="dropdown-item" href="{{ url_for('home') }}">Relays</a></li>#}
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="true"><i class="fas fa-window-maximize"></i>Tools</a>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="{{ url_for('flask_tools.tools_jigs') }}">Jigs</a></li>
                          <li><a class="dropdown-item" href="{{ url_for('flask_tools.tools_consumables') }}">Consumables</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('flask_tools.tools_workflow') }}">Assembly Workflow</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="true"><i class="fas fa-window-maximize"></i>Workflow</a>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="{{ url_for('flask_workflow.workflow') }}">Workflow</a></li>
                          <li><a class="dropdown-item" href="{{ url_for('flask_modules.general_add_module') }}">Under Consctruction</a></li>
                           <li><a class="dropdown-item" href="{{ url_for('flask_workflow.qr_scanner') }}">QR-Codes</a></li>

{#                          <li><a class="dropdown-item" href="{{ url_for('flask_tools.tools_consumables') }}">Consumables</a></li>#}
{#                            <li><a class="dropdown-item" href="{{ url_for('flask_tools.tools_workflow') }}">Assembly Workflow</a></li>#}
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="true"><i class="fas fa-window-maximize"></i>Statistics</a>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="{{ url_for('flask_statistics.statistics_overview') }}">Overview</a></li>
                        </ul>
                    </li>
                </ul>
{#                href="#menu-toggle" class="slidebar-toggle" id="menu-toggle"#}
{#                <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="header-toggle" type="button"></button></div>#}
{#                <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>#}
            </div>
{#            <footer class="sticky-footer" style="position:fixed; bottom: 0; height:100px; width:100px; background-color:white">#}
{#                <div class="container my-auto">#}
{#                    <div class="text-center my-auto copyright"><p><a href="/about">About</a></p><span><a href="https://gitlab.cern.ch/mbeckers/dca-aachen/-/tree/{{ GIT_COMMIT_HASH }}">#{{ GIT_COMMIT_HASH8 }}</a></span></div>#}
{#                </div>#}
{#            </footer>#}
{#            <footer class="text-center" style="position:fixed; bottom: 0; height:40px; background-color:black;"><a href="https://gitlab.cern.ch/mbeckers/dca-aachen/-/tree/{{ GIT_COMMIT_HASH }}">version #{{  GIT_COMMIT_HASH8}}</a> </footer>#}
        </nav>
        <!-- colum on upper side/header	-->
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
{#                    <div class="p-1 my-container active-cont"><a class="btn border-0" id="menu-btn"><i class="bx bx-menu"></i></a></div>#}
                    <div class="container-fluid">
                        <a href="#" data-bs-target="#sidebar" data-bs-toggle="collapse" class="text-dark border rounded-3 p-1 text-decoration-none"><i class="fas fa-bars"></i></a>
                        <div class="d-none d-sm-block topbar-divider"></div>
                        {%  block header_navbar %}
                         {% endblock header_navbar %}
{#                        <ul class="navbar-nav flex-nowrap ms-auto">#}
{#                            <li class="nav-item dropdown d-sm-none no-arrow"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#"><i class="fas fa-search"></i></a>#}
{#                                <div class="dropdown-menu dropdown-menu-end p-3 animated--grow-in" aria-labelledby="searchDropdown">#}
{#                                    <form class="me-auto navbar-search w-100">#}
{#                                        <div class="input-group"><input class="bg-light form-control border-0 small" type="text" placeholder="Search for ...">#}
{#                                            <div class="input-group-append"><button class="btn btn-primary py-0" type="button"><i class="fas fa-search"></i></button></div>#}
{#                                        </div>#}
{#                                    </form>#}
{#                                </div>#}
{#                            </li>#}
{#                            <li class="nav-item dropdown no-arrow mx-1">#}
{#                                <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#"><span class="badge bg-danger badge-counter">3+</span><i class="fas fa-bell fa-fw"></i></a>#}
{#                                    <div class="dropdown-menu dropdown-menu-end dropdown-list animated--grow-in">#}
{#                                        <h6 class="dropdown-header">alerts center</h6><a class="dropdown-item d-flex align-items-center" href="#">#}
{#                                            <div class="me-3">#}
{#                                                <div class="bg-primary icon-circle"><i class="fas fa-file-alt text-white"></i></div>#}
{#                                            </div>#}
{#                                            <div><span class="small text-gray-500">December 12, 2019</span>#}
{#                                                <p>A new monthly report is ready to download!</p>#}
{#                                            </div>#}
{#                                        </a><a class="dropdown-item d-flex align-items-center" href="#">#}
{#                                            <div class="me-3">#}
{#                                                <div class="bg-success icon-circle"><i class="fas fa-donate text-white"></i></div>#}
{#                                            </div>#}
{#                                            <div><span class="small text-gray-500">December 7, 2019</span>#}
{#                                                <p>$290.29 has been deposited into your account!</p>#}
{#                                            </div>#}
{#                                        </a><a class="dropdown-item d-flex align-items-center" href="#">#}
{#                                            <div class="me-3">#}
{#                                                <div class="bg-warning icon-circle"><i class="fas fa-exclamation-triangle text-white"></i></div>#}
{#                                            </div>#}
{#                                            <div><span class="small text-gray-500">December 2, 2019</span>#}
{#                                                <p>Spending Alert: We've noticed unusually high spending for your account.</p>#}
{#                                            </div>#}
{#                                        </a><a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </li>#}
{#                            <li class="nav-item dropdown no-arrow mx-1">#}
{#                                <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#"><span class="badge bg-danger badge-counter">7</span><i class="fas fa-envelope fa-fw"></i></a>#}
{#                                    <div class="dropdown-menu dropdown-menu-end dropdown-list animated--grow-in">#}
{#                                        <h6 class="dropdown-header">alerts center</h6><a class="dropdown-item d-flex align-items-center" href="#">#}
{#                                            <div class="dropdown-list-image me-3"><img class="rounded-circle" src="assets/img/avatars/avatar4.jpeg">#}
{#                                                <div class="bg-success status-indicator"></div>#}
{#                                            </div>#}
{#                                            <div class="fw-bold">#}
{#                                                <div class="text-truncate"><span>Hi there! I am wondering if you can help me with a problem I've been having.</span></div>#}
{#                                                <p class="small text-gray-500 mb-0">Emily Fowler - 58m</p>#}
{#                                            </div>#}
{#                                        </a><a class="dropdown-item d-flex align-items-center" href="#">#}
{#                                            <div class="dropdown-list-image me-3"><img class="rounded-circle" src="assets/img/avatars/avatar2.jpeg">#}
{#                                                <div class="status-indicator"></div>#}
{#                                            </div>#}
{#                                            <div class="fw-bold">#}
{#                                                <div class="text-truncate"><span>I have the photos that you ordered last month!</span></div>#}
{#                                                <p class="small text-gray-500 mb-0">Jae Chun - 1d</p>#}
{#                                            </div>#}
{#                                        </a><a class="dropdown-item d-flex align-items-center" href="#">#}
{#                                            <div class="dropdown-list-image me-3"><img class="rounded-circle" src="assets/img/avatars/avatar3.jpeg">#}
{#                                                <div class="bg-warning status-indicator"></div>#}
{#                                            </div>#}
{#                                            <div class="fw-bold">#}
{#                                                <div class="text-truncate"><span>Last month's report looks great, I am very happy with the progress so far, keep up the good work!</span></div>#}
{#                                                <p class="small text-gray-500 mb-0">Morgan Alvarez - 2d</p>#}
{#                                            </div>#}
{#                                        </a><a class="dropdown-item d-flex align-items-center" href="#">#}
{#                                            <div class="dropdown-list-image me-3"><img class="rounded-circle" src="assets/img/avatars/avatar5.jpeg">#}
{#                                                <div class="bg-success status-indicator"></div>#}
{#                                            </div>#}
{#                                            <div class="fw-bold">#}
{#                                                <div class="text-truncate"><span>Am I a good boy? The reason I ask is because someone told me that people say this to all dogs, even if they aren't good...</span></div>#}
{#                                                <p class="small text-gray-500 mb-0">Chicken the Dog · 2w</p>#}
{#                                            </div>#}
{#                                        </a><a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="shadow dropdown-list dropdown-menu dropdown-menu-end" aria-labelledby="alertsDropdown"></div>#}
{#                            </li>#}
{#                            <div class="d-none d-sm-block topbar-divider"></div>#}
{#                            <li class="nav-item dropdown no-arrow">#}
{#                                <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#"><span class="d-none d-lg-inline me-2 text-gray-600 small">{{ current_user.username }}</span><img class="border rounded-circle img-profile" src="assets/img/avatars/avatar1.jpeg"></a>#}
{#                                    <div class="dropdown-menu shadow dropdown-menu-end animated--grow-in"><a class="dropdown-item" href="#"><i class="fas fa-user fa-sm fa-fw me-2 text-gray-400"></i>&nbsp;Profile</a><a class="dropdown-item" href="#"><i class="fas fa-cogs fa-sm fa-fw me-2 text-gray-400"></i>&nbsp;Settings</a><a class="dropdown-item" href="#"><i class="fas fa-list fa-sm fa-fw me-2 text-gray-400"></i>&nbsp;Activity log</a>#}
{#                                        <div class="dropdown-divider"></div><a class="dropdown-item" href="{{ url_for('logout') }}"><i class="fas fa-sign-out-alt fa-sm fa-fw me-2 text-gray-400"></i>&nbsp;Logout</a>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </li>#}
{#                        </ul>#}
                    </div>
                </nav>
                            <!-- here is the main space on the webpage	-->
                <div class="container-fluid">
                    {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            {%  for category, message in messages %}
                                <div class="alert alert-{{ category }}">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                    {% block body %}
                    {% endblock body %}
                </div>
            </div>

            <!-- Footer	-->
            <footer class="bg-white sticky-footer">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>Aachen - Detector Constuction Database - v0.0.1 (<a href="https://gitlab.cern.ch/mbeckers/dca-aachen/-/tree/{{ GIT_COMMIT_HASH }}">#{{ GIT_COMMIT_HASH8 }}</a>) - 2023 - <a href="/about">About</a></span></div>
                </div>
            </footer>
        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>

<script type="text/javascript" charset="utf8" src="../static/datatables/datatables.js"></script>
<script type="text/javascript" charset="utf8" src="../static/bootstrap_table/bootstrap-table.min.js"></script>
<script type="text/javascript" charset="utf8" src="../static/node_modules/zoomtastic/dist/zoomtastic.umd.js"></script>

{% block scripts %}
{% endblock %}
</body>
</html>

