{%  extends "layout.html" %}


{%  block header_navbar %}
<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    <i class="far fa-search"></i> Other Measurements
  </button>
  <ul class="dropdown-menu">
      {% for i in range(all_ids|length) %}
            <li><a class="dropdown-item" href="id_{{ all_ids[i] }}">{{ all_sensors[i] }}</a></li>
      {% endfor %}

  </ul>
</div>
{%  endblock header_navbar %}

{%  block body %}

<div class="row">

    <div class="container">
          <h1 class="text-dark">HV-Curves Detail for {{ data.id }}</h1>
{#          <h5>Only "PENDING"-Data shown</h5>#}

    </div>
    <hr width="100%" size="20" align="center" color="black" noshade>
</div>

<div class="row">
    <div class="container">
          <h3 class="text-primary"> <i class="fas fa-info"></i> General Properties</h3>
          <hr>
        <form class="user" action="" method="post">
            {{ form.hidden_tag() }}

        <table class="table table-bordered table-responsive table-striped">
          <thead>
            <tr>
                <th scope="col">Sensor</th>
                <th scope="col">Datetime</th>
                <th scope="col">Assembly step</th>
{#                <th scope="col">Datetime</th>#}
                <th scope="col">Operator</th>
                <th scope="col">Station</th>
                <th scope="col">auto. Grade</th>
                <th scope="col">man. Grade</th>
                <th scope="col">Comment</th>
                <th scope="col">Measurement Status</th>
                <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
              <tr>
                  <td>{{ data.iv_file_sensor }} <a href="/modules/sensor_{{ data.sensor }}" ><i class="fas fa-external-link-alt alert-danger"></i> </a></td>
                <td>{{ data.timestamp }}</td>
                  <td>{{ data.assembly_step }}</td>
                <td>{{ data.iv_file_operator }}</td>
                <td>{{ data.station }}</td>
                <td style="background-color: {{ data.General_Grade.color }}">{{ data.General_Grade.value }}</td>
                <td style="background-color: {{ data.General_Grade_man.color }}">{{ data.General_Grade_man.value }}</td>
                <td>{{ data.comment }}</td>
                <td></td>

                <td>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                      <span class="fa fa-edit"></span> Edit

                    </button>
                </td>
            </tr>
{#            <tr>#}
{#                <td><div>{{ form.module(class="form-control form-control-lg") }}</div></td>#}
{#                <td></td>#}
{#                                <td></td>#}
{#                                <td></td>#}
{#                <td><div>{{ form.operator(class="form-control form-control-lg") }}</div></td>#}
{#                <td><div>{{ form.station(class="form-control form-control-lg") }}</div></td>#}
{#                <td></td>#}
{#                <td><div>{{ form.grade(class="form-control form-control-lg") }}</div></td>#}
{#                <td><div>{{ form.comment(class="form-control form-control-lg") }}</div></td>#}
{#                <td><div>{{ form.status(class="form-control form-control-lg") }}</div></td>#}
{#                                <td></td>#}
{#                <td><div class="form-group">{{ form.submit(class="btn btn-outline-info") }}</div></td>#}
{#            </tr>#}
          </tbody>
        </table>
        </form>
    </div>
</div>




<div class="container-fluid">
    <div class="row">
        <div class="col-md-5">
            <h5 class="text-primary">Measurement Informations</h5>
            <div class="table-responsive">
                <table class="table table-bordered table-striped table-hover">
                <thead>
                <th></th>
                <th>Measurement</th>
                <th>Limit</th>
                </thead>
                  <tbody>
                    <tr>
                      <th scope="row">Measurement repetitions per Voltage</th>
                      <td>{{ data.repetition_number }}</td>
                                              <td></td>
                    </tr>
                    <tr>
                      <th scope="row">Total Number of Datapoints</th>
                      <td>{{ data.datapoints_number }}</td>
                                              <td></td>
                    </tr>
                    <tr>
                      <th scope="row"</th>
                      <td></td>
                                              <td></td>
                    </tr>
                    <tr>
                      <th scope="row">Room Temp.</th>
                      <td style="background-color: {{ limit_colors['temp'] }}">{{ data.air_temperature }} °C</td>
                                              <td>19-24°C</td>
                    </tr>
                    <tr>
                      <th scope="row">Room Hum.</th>
                      <td style="background-color: {{ limit_colors['hum'] }}">{{ data.air_humidity }} %H</td>
                                              <td>40-60%H</td>
                    </tr>
                    <tr>
                      <th scope="row"</th>
                      <td></td>
                                              <td></td>
                    </tr>
                    <tr>
                      <th scope="row">Ramp-up maximum</th>
                      <td style="background-color: {{ limit_colors['maximum_voltage'] }}">{{ limit_data['maximum_voltage'] }} V</td>
                      <td>B: >800V, A: >1000V</td>
                    </tr>

                    <tr>
                      <th scope="row">Current at 600V</th>
                      <td style="background-color: {{ limit_colors['current_value_at_600V'] }}">{{ limit_data['current_value_at_600V'] }} nA </td>
                      <td>< 7.5 *10^6 nA</td>
                    </tr>
                    <tr>
                      <th scope="row">Current Ratio: I800 / I600</th>
                      <td style="background-color: {{ limit_colors['current_800/600'] }}">{{ limit_data['current_800/600']  }} </td>
                      <td>< 2.5</td>
                    </tr>
                    <tr>
                      <th scope="row">Current Ratio: I1000 / I800</th>
                      <td style="background-color: {{ limit_colors['current_1000/800'] }}">{{ limit_data['current_1000/800']   }}</td>
                      <td>< 2.5</td>
                    </tr>



                  </tbody>
                </table>
            </div>
                    <p>
                      <a class="btn btn-danger" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                       <i class="fas fa-search-plus"></i> Show all Details
                      </a>
                    </p>
                    <div class="container-fluid collapse" id="collapseExample">
                        <table id="data" class="table table-bordered table-responsive table-striped">
                            <thead>
                              <tr>
                                <th>ID</th>
                                <th>Datetime</th>
                                <th>Voltage [V]</th>
                                <th>Current [pA] </th>
                                <th>Temperature [°C]</th>
                                <th>Humidity [%H]</th>
                              </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
        </div>



        <div class="col-md-7">
            <h5 class="text-primary"><i class="fas fa-chart-line"></i> Measurement Results</h5>
                <div id="chart" class="chart">
                        <script type='text/javascript'>
                          Plotly.newPlot('chart', {{ graphJSON_list[0] | safe }}, {{ plotly_layout | safe }}, {{ plotly_config | safe }});
                        </script>
                </div>


        </div>
    </div>
</div>





{#<p>#}
{#  <a class="btn btn-danger" data-bs-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false" aria-controls="collapseExample2">#}
{#   Show Hisotgrams#}
{#  </a>#}
{#</p>#}

<div class="container-fluid w-100 p-3">
            <h5 class="text-primary">Measurement Results cern</h5>
                <div id="chart3" class="chart">
                    <script type='text/javascript'>
                      Plotly.newPlot('chart3', {{ graphJSON_list[1] | safe }}, {{ plotly_layout | safe }}, {{ plotly_config | safe }});
                    </script>
                </div>

</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Measurement {{ data.id }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form class="user" action="" method="post">
            {{ form.hidden_tag() }}

        <div class="table-responsive">
                <table class="table table-bordered table-striped table-hover">
                  <tbody>
                    <tr>
                      <th scope="row">Sensor</th>
                      <td>{{ data.iv_file_sensor }}</td>
                    </tr>
                    <tr>
                      <th scope="row">Operator</th>
                      <td>{{ form.operator(class="form-control form-control-lg") }}</td>
                    </tr>
                    <tr>
                      <th scope="row">Station</th>
                      <td>{{ form.station(class="form-control form-control-lg") }}</td>
                    </tr>
                    <tr>
                      <th scope="row">Grade</th>
                      <td>{{ form.grade(class="form-control form-control-lg") }}</td>
                    </tr>
                    <tr>
                      <th scope="row">Comment</th>
                      <td>{{ form.comment(class="form-control form-control-lg") }}</td>
                    </tr>

                    </tbody>
                </table>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <div class="form-group">{{ form.submit(class="btn btn-outline-info") }}</div>
{#        <button type="button" class="btn btn-primary">Save changes</button>#}
      </div>
        </form>
    </div>
  </div>
</div>

{% block scripts %}



  <script>
    $(document).ready(function () {
      $('#data').DataTable({
        ajax: '/hv/id_{{ data.id }}/data',
        serverSide: true,
        retrieve: true,
        "bFilter": false,
        keys: true,
        lengthMenu: [[50, 100, 200, 300, 400, 1000], [50, 100, 200, 300, 400, 1000],],
        columns: [
          {data: 'id'},
          {data: 'timestamp'},
          {data: 'voltage'},
          {data: 'current'},
          {data: 'temperature'},
          {data: 'humidity'},
        ],
      });
    });
  </script>

{% endblock %}
{% endblock body %}