{%  extends "layout.html" %}

{%  block body %}

<div>
      <h1>Create new module</h1>
      <hr>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal_create">
              <span class="fa fa-edit"></span> Create new module
            </button>
</div>

{#<div>#}
{#      <h1>Modules under construction</h1>#}
{#      <hr>#}
{#            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">#}
{#              <span class="fa fa-edit"></span> Construct module#}
{#            </button>#}
{#</div>#}

<div class="row">
    <div class="container">
        <h3 class="text-primary">Modules under construction</h3>
    </div>
    <div class="container">
            <table id="data" class="table table-bordered table-responsive table-striped">
                <thead>
                  <tr>
                    <th>Module</th>
{#                    <th>Status</th>#}
                    <th>Last Assemblystep</th>
                    <th>comment</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                </tbody>
              </table>
    </div>
</div>


<div class="row">
    <div class="container">
        <h3 class="text-primary">Sensors under construction</h3>
    </div>
    <div class="container">
            <table id="data_sensor" class="table table-bordered table-responsive table-striped">
                <thead>
                  <tr>
                    <th>Sensor</th>
                    <th>Last Assemblystep</th>
                    <th>Comment</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                </tbody>
              </table>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal_create" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Create new Module</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form class="user" action="" method="post">
            {{ form.hidden_tag() }}
        <div class="table-responsive">
                <table class="table table-bordered table-striped table-hover">
                  <tbody>
                    <tr>
                      <th scope="row">CERN Module Name</th>
                      <td>{{ form.cern_module_id(class="form-control form-control-lg") }}</td>
                    </tr>
                    <tr>
                      <th scope="row">Aachen Module Name (optional)</th>
                        <td>{{ form.aachen_module_id(class="form-control form-control-lg") }}</td>
                    </tr>
{#                    <tr>#}
{#                      <th scope="row">Construction Status</th>#}
{#                        <td>{{ form.aachen_construction_status(class="form-control form-control-lg") }}</td>#}
{#                    </tr>#}
                    <tr>
                      <th scope="row">Comment</th>
                      <td>{{ form.comment(class="form-control form-control-lg") }}</td>
                    </tr>

                    </tbody>
                </table>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <div class="form-group">{{ form.submit(class="btn btn-outline-info") }}</div>
{#        <button type="button" class="btn btn-primary">Save changes</button>#}
      </div>
        </form>
    </div>
  </div>
</div>
</div>


{% endblock body %}

{% block scripts %}

<script>
    $(document).ready(function () {
      $('#data').DataTable({
        ajax: '{{ url_for("flask_modules.module_under_construction_data") }}',
        serverSide: true,
        retrieve: true,
        "bFilter": false,
        keys: true,
        dom: 'Blfrtip',
        buttons: [
            'csv',
            'excel',
            {
                extend: 'pdfHtml5',
                orientation: 'landscape',
                pageSize: 'A4',
                download: 'open'
            }
        ],
        lengthMenu: [[50, 10, 20, 100], [50, 10, 20, 100],],
        columns: [
          {data: 'cern_module_id'},
          {#{data: 'aachen_construction_status'},#}
          {data: 'last_assemblystep'},
          {#{data: 'timestamp'},#}
          {#{data: 'temperature'},#}
          {#{data: 'humidity'},#}
          {data: 'comment'},
          {data: 'construction_link'},
        ],
      });
    });

        $(document).ready(function () {
      $('#data_sensor').DataTable({
        ajax: '{{ url_for("flask_modules.module_under_construction_data_sensor") }}',
        serverSide: true,
        retrieve: true,
        "bFilter": false,
        keys: true,
        dom: 'Blfrtip',
        buttons: [
            'csv',
            'excel',
            {
                extend: 'pdfHtml5',
                orientation: 'landscape',
                pageSize: 'A4',
                download: 'open'
            }
        ],
        lengthMenu: [[50, 10, 20, 100], [50, 10, 20, 100],],
        columns: [
          {data: 'sensor_name'},
          {data: 'last_assemblystep'},
          {data: 'comment'},
          {data: 'construction_link'},
        ],
      });
    });

  </script>


{% endblock %}