{%  extends "layout.html" %}

{%  block body %}

<div>
      <h1>General - Modules</h1>
      <hr>

</div>

{% block content %}
  <table id="data" class="table table-bordered table-responsive table-striped">
    <thead>
      <tr>
        <th>id</th>
        <th>Aachen id</th>
        <th>CERN id</th>
        <th>Type</th>
{#        <th>Arrival date</th>#}
{#        <th>Shipping date</th>#}
{#        <th>Status</th>#}
        <th>Comment</th>
        <th>Barcode</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
{% endblock %}


{% endblock body %}

{% block scripts %}
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.js"></script>
  <script>
    $(document).ready(function () {
      $('#data').DataTable({
        ajax: '{{ url_for("flask_modules.general_module_data") }}',
        serverSide: true,
        retrieve: true,
        columns: [
          {data: 'id'},
          {data: 'aachen_module_id'},
          {data: 'cern_module_id'},
          {data: 'module_type'},
            {#{data: 'arrival_date'},#}
            {#{data: 'shipping_date'},#}
            {data: 'comment'},
                        {data: 'barcode'},
            {data: 'link'},
        ],
      });
    });
  </script>
{% endblock %}