{%  extends "layout.html" %}

{%  block body %}

<div>
      <h1>General - Sensors</h1>
      <hr>

</div>

{% block content %}
  <table id="data" class="table table-bordered table-responsive table-striped">
    <thead>
      <tr>
        <th>id</th>
        <th>Sensor Name</th>
        <th>Comment</th>
        <th>Barcode</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
{% endblock %}


{% block scripts %}
  <script>
    $(document).ready(function () {
      $('#data').DataTable({
        ajax: '/modules/sensors_data',
        serverSide: true,
        retrieve: true,
        search: true,
        "bFilter": false,
        keys: true,
        dom: 'Blfrtip',
        buttons: [
            'colvis',
            'csv',
            'excel',
            'pdf'
        ],
        columns: [
          {data: 'id'},
          {data: 'sensor_name'},
            {data: 'comment'},
            {data: 'barcode'},
            {data: 'link'},
        ],
      });
    });
  </script>
{% endblock %}

{% endblock body %}
