{%  extends "layout.html" %}

{%  block body %}


<div>
      <h1>Pulltest - Settings for Product templates of Pulltester</h1>
      <hr width="100%" size="20" align="center" color="black" noshade>
      <div id="table" class="{{ bg_color }}"></div>
</div>
<div>
    <form method="post" align="right" action="/pulltest/get_data" method="post">
            <button type="submit" class="btn btn-secondary">GET Data</button>
    </form>
</div>

<div style="overflow-x:auto;">
      <h4>Database entries</h4>
      <hr>

<table id="data" class="table table-bordered table-responsive table-striped">
    <thead>
      <tr>
        <th>id</th>
        <th>Pulltest DB</th>
        <th>Product name</th>
        <th>Headtype</th>
        <th>Used for 2S-Modules</th>
        <th>Comment</th>
        <th>Creation time</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
</table>



<div style="overflow-x:auto;">
      <h4>Settings</h4>
      <hr>
<form class="user" action="" method="post">
    {{ form.hidden_tag() }}
    {{ form.id.label(class="form-control-label") }}
    {{ form.id(class="form-control form-control-lg") }}
    {{ form.used_bool_status.label(class="form-control-label") }}
    {{ form.used_bool_status(class="form-control form-control-lg") }}
    {{ form.comment.label(class="form-control-label") }}
    {{ form.comment(class="form-control form-control-lg") }}
    {{ form.submit(class="btn btn-outline-info") }}
</form>

{% block scripts %}
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.js"></script>

<script>
    $(document).ready(function () {
      $('#data').DataTable({
        ajax: '/pulltest/product/data',
        serverSide: true,
        retrieve: true,
        responsive: true,
        scrollX: false,
        columns: [
          {data: 'id'},
          {data: 'pulltest_db_id'},
          {data: 'name'},
          {data: 'headtype'},
          {data: '2S_Modules_used'},
          {data: 'comment'},
          {data: 'creation'},
        ],
      });
    });
  </script>


{% endblock %}
{% endblock body %}