{%  extends "layout.html" %}

{%  block body %}

<div class="row">
    <div class="container">
          <h1 class="text-dark">Modul {{ data.cern_module_id }}</h1>
          <hr width="100%" size="20" align="center" color="black" noshade>
    </div>
</div>

{##}
{#<div class="row">#}
{#    <div class="container">#}
{#        <h3 class="text-primary">Details</h3>#}
{#    </div>#}
{#    <div class="container">#}
{#        <table class="table table-bordered table-responsive table-striped">#}
{#            <thead>#}
{#              <tr>#}
{#                <th>ID</th>#}
{#                <th>Aachen id</th>#}
{#                <th>CERN id</th>#}
{#                <th>Type</th>#}
{#                <th>arrival date</th>#}
{#                <th>shipping date</th>#}
        {#        <th>status</th>#}
{#                <th>comment</th>#}
{#                  <th></th>#}
{#              </tr>#}
{#            </thead>#}
{#            <tbody>#}
{#              <tr>#}
{#                <th>{{ data.id }}</th>#}
{#                <th>{{ data.aachen_module_id }}</th>#}
{#                <th>{{ data.cern_module_id }}</th>#}
{#                <th>{{ data.module_type }}</th>#}
{#                <th>{{ data.arrival_date }}</th>#}
{#                <th>{{ data.shipping_date }}</th>#}
        {#        <th>{{ data.status }}</th>#}
{#                <th>{{ data.comment }}</th>#}
{#                <th>#}
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                      <span class="fa fa-edit"></span> Edit
                    </button>
{#                </th>#}
{#              </tr>#}
{#            </tbody>#}
{#          </table>#}
{#        </div>#}
{#</div>#}

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Measurement for {{ data.cern_module_id }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form class="user" action="" method="post">
            {{ form.hidden_tag() }}
        <div class="table-responsive">
                <table class="table table-bordered table-striped table-hover">
                  <tbody>
                    <tr>
                      <th scope="row">Module</th>
                      <td>{{ data.cern_module_id }}</td>
                    </tr>
                    <tr>
                      <th scope="row">Feh 1</th>
                        <td>{{ form.feh_1_id(class="form-control form-control-lg") }}</td>
                    </tr>
                    <tr>
                      <th scope="row">Feh 2</th>
                        <td>{{ form.feh_2_id(class="form-control form-control-lg") }}</td>
                    </tr>
                    <tr>
                      <th scope="row">SEH</th>
                        <td>{{ form.seh_id(class="form-control form-control-lg") }}</td>
                    </tr>
                    <tr>
                      <th scope="row">Top Sensor</th>
                         <td>{{ form.top_sensor(class="form-control form-control-lg") }}</td>
                    </tr>
                    <tr>
                      <th scope="row">Bottom Sensor</th>
                        <td>{{ form.bottom_sensor(class="form-control form-control-lg") }}</td>
                    </tr>
                    <tr>
                      <th scope="row">Arrival Date</th>
                      <td>{{ form.arrival_date(class="form-control form-control-lg") }}</td>
                    </tr>
                    <tr>
                      <th scope="row">Shipping Date</th>
                      <td>{{ form.shipping_date(class="form-control form-control-lg") }}</td>
                    </tr>
                    <tr>
                      <th scope="row">manual Grade</th>
                      <td>{{ form.manual_grade(class="form-control form-control-lg") }}</td>
                    </tr>
                    <tr>
                      <th scope="row">jig_baremodule</th>
                      <td>{{ form.jig_baremodule(class="form-control form-control-lg") }}</td>
                    </tr>
                    <tr>
                      <th scope="row">jig_bonding</th>
                      <td>{{ form.jig_bonding(class="form-control form-control-lg") }}</td>
                    </tr>
                    <tr>
                      <th scope="row">jig_HV_pigtaile</th>
                      <td>{{ form.jig_HV_pigtaile(class="form-control form-control-lg") }}</td>
                    </tr>
                    <tr>
                      <th scope="row">Comment</th>
                      <td>{{ form.comment(class="form-control form-control-lg") }}</td>
                    </tr>

                    </tbody>
                </table>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <div class="form-group">{{ form.submit(class="btn btn-outline-info") }}</div>
{#        <button type="button" class="btn btn-primary">Save changes</button>#}
      </div>
        </form>
    </div>
  </div>
</div>
</div>



<div class="row">
<div class="container">
    <h3 class="text-primary">Details</h3>
</div>
<div class="table-responsive border border-dark">
                <table id="module_information" class="table table-bordered table-striped table-hover">
                    <thead>
                        <tr>
                          <th scope="row">Categorie</th>
                          <th scope="row">Value</th>
                          <th scope="row">Action</th>
                        </tr>
                    </thead>
                  <tbody>
                    <tr>
                      <th scope="row">Module ID</th>
                      <th>{{ data.cern_module_id }}</th>
                        <td>
                            <button type="button" class="btn bg-info" data-bs-toggle="modal" data-bs-target="#module">
                              <span class="fa fa-info-circle"></span>
                            </button>
                        </td>
                    </tr>

                    <tr>
                      <th scope="row">manufacturer</th>
                      <td>{{ data.manufacturer }}</td>
                        <td>
                            <button type="button" class="btn bg-info" data-bs-toggle="modal" data-bs-target="#manufacturer">
                              <span class="fa fa-info-circle"></span>
                            </button>
                        </td>
                    </tr>
                    <tr>
                      <th scope="row">FEH Left</th>
                      <td>{{ data.feh_left }}</td>
                        <td>
                            <button type="button" class="btn bg-info" data-bs-toggle="modal" data-bs-target="#feh_left">
                              <span class="fa fa-info-circle"></span>
                            </button>
                        </td>
                    </tr>
                    <tr>
                      <th scope="row">Feh Right</th>
                      <td>{{ data.feh_right }}</td>
                        <td>
                            <button type="button" class="btn bg-info" data-bs-toggle="modal" data-bs-target="#feh_right">
                              <span class="fa fa-info-circle"></span>
                            </button>
                        </td>
                    </tr>
                    <tr>
                      <th scope="row">SEH</th>
                      <td>{{ data.seh }}</td>
                        <td>
                            <button type="button" class="btn bg-info" data-bs-toggle="modal" data-bs-target="#seh">
                              <span class="fa fa-info-circle"></span>
                            </button>
                        </td>
                    </tr>
                    <tr>
                      <th scope="row">Top Sensor</th>
                      <td>{{ data.sensor_top }}</td>
                        <td>
                            <button type="button" class="btn bg-info" data-bs-toggle="modal" data-bs-target="#sensor_top">
                              <span class="fa fa-info-circle"></span>
                            </button>
                            <button onclick="window.location.href='/modules/sensor_{{ data.sensor_top }}';">
                              <i class="fa fa-link"></i>
                            </button>
                        </td>
                    </tr>
                    <tr>
                      <th scope="row">Bottom Sensor</th>
                      <td>{{ data.sensor_bottom }}</td>
                        <td>
                            <button type="button" class="btn bg-info" data-bs-toggle="modal" data-bs-target="#sensor_bottom">
                              <span class="fa fa-info-circle"></span>
                            </button>
                            <button onclick="window.location.href='/modules/sensor_{{ data.sensor_bottom }}';">
                              <i class="fa fa-link"></i>
                            </button>
                        </td>

                    </tr>
                    <tr>
                      <th scope="row">CERN comment</th>
                      <td>{{ data.cern_db_description }}</td>
                        <td></td>
                    </tr>
                    <tr>
                      <th scope="row">last update</th>
                      <td>{{ data.cern_db_update_ts }}</td>
                        <td></td>
                    </tr>


                    </tbody>
                </table>
    </div>
</div>


<div class="row">
<div class="container">
    <h3 class="text-primary">Assembly Steps</h3>
</div>
<div class="container" style="text-align: right">
        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#assemblystepmodal">
          <i class="fa-solid fa-circle-plus"></i> Register new assembly step
        </button>
</div>

<div class="table-responsive border border-dark">
                <table id="assembly" class="table table-bordered table-striped table-hover">
                    <thead>
                        <tr>
                          <th scope="row"></th>
                          <th scope="row">Assemblystep</th>
                          <th scope="row">Datetime</th>
                          <th scope="row">Operator</th>
                          <th scope="row">Comment</th>
                        </tr>
                    </thead>
                  <tbody>
                      {% for assemblystep in assembly_data %}
                          <tr>
                              <th scope="row">
                                {% if assembly_data[assemblystep] != '' %}
                                    <i class="fa-sharp fa-solid fa-circle-check text-success"></i>
                                {% else %}
                                    <i class="fa-solid fa-ellipsis-vertical text-warning"></i>
                                  {% endif %}
                              </th>
                              <th scope="row">{{ assemblystep }}</th>
                              <td>{{ assembly_data[assemblystep] }}</td>
                              <td>{{ assembly_data_operator[assemblystep] }}</td>
                              <td>{{ assembly_data_comment[assemblystep] }}</td>

                         </tr>
                      {% endfor %}
                    </tbody>
                </table>
    </div>
</div>


<!-- Modal Assemblystep-->
<div class="modal fade" id="assemblystepmodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add assemblystep</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form class="user" action="" method="post">
            {{ form.hidden_tag() }}
        <div class="table-responsive">
                <table class="table table-bordered table-striped table-hover">
                  <tbody>
                    <tr>
                      <th scope="row">Assemblystep</th>
                        <td>{{ form.manual_grade(class="form-control form-control-lg") }}</td>
                    </tr>
                    <tr>
                      <th scope="row">Module</th>
                      <td>{{ data.cern_module_id }}</td>
                    </tr>
                    <tr>
                      <th scope="row">Datetime</th>
                        <td>{{ form.feh_1_id(class="form-control form-control-lg") }}</td>
                    </tr>
                    <tr>
                      <th scope="row">Operator</th>
                        <td>{{ form.feh_1_id(class="form-control form-control-lg") }}</td>
                    </tr>
                    <tr>
                      <th scope="row">Grade</th>
                        <td>{{ form.seh_id(class="form-control form-control-lg") }}</td>
                    </tr>
                    <tr>
                      <th scope="row">Comment</th>
                         <td>{{ form.top_sensor(class="form-control form-control-lg") }}</td>
                    </tr>
                    <tr>
                      <th scope="row">Top sensor</th>
                        <td>{{ form.bottom_sensor(class="form-control form-control-lg") }}</td>
                    </tr>
                    <tr>
                      <th scope="row">Bottom sensor</th>
                      <td>{{ form.arrival_date(class="form-control form-control-lg") }}</td>
                    </tr>
                    <tr>
                      <th scope="row">Right FEH</th>
                      <td>{{ form.shipping_date(class="form-control form-control-lg") }}</td>
                    </tr>
                    <tr>
                      <th scope="row">Left FEH</th>
                      <td>{{ form.manual_grade(class="form-control form-control-lg") }}</td>
                    </tr>
                    <tr>
                      <th scope="row">SEH</th>
                      <td>{{ form.manual_grade(class="form-control form-control-lg") }}</td>
                    </tr>
                    <tr>
                      <th scope="row">jig_baremodule</th>
                      <td>{{ form.jig_baremodule(class="form-control form-control-lg") }}</td>
                    </tr>
                    <tr>
                      <th scope="row">jig_bonding</th>
                      <td>{{ form.jig_bonding(class="form-control form-control-lg") }}</td>
                    </tr>
                    <tr>
                      <th scope="row">jig_HV_pigtaile</th>
                      <td>{{ form.jig_HV_pigtaile(class="form-control form-control-lg") }}</td>
                    </tr>
c

                    </tbody>
                </table>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <div class="form-group">{{ form.submit(class="btn btn-outline-info") }}</div>
      </div>
        </form>
    </div>
  </div>
</div>
</div>



<!-- Modal -->
<div class="modal fade" id="module" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" >
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Module</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="feh_left_modal_body">
        <iframe src="{{ url_for('flask_modules.module_detail_cmsdb_module', serial_number=data.cern_module_id) }}" style="width: 100%; height: 700px"></iframe>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="feh_left" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" >
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Feh Left</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="feh_left_modal_body">
                  <iframe src="/modules/cmsdb_feh_{{data.feh_left }}" style="width: 100%; height: 700px"></iframe>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="feh_right" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" >
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Feh Right</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="feh_left_modal_body">
                  <iframe src="/modules/cmsdb_feh_{{data.feh_right }}" style="width: 100%; height: 700px"></iframe>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="seh" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" >
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">SEH</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="feh_left_modal_body">
        <iframe src="/modules/cmsdb_seh_{{data.seh }}" style="width: 100%; height: 700px"></iframe>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="sensor_top" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" >
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">SEH</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="feh_left_modal_body">
        <iframe src="/modules/cmsdb_sensor_{{data.sensor_top }}" style="width: 100%; height: 700px"></iframe>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="sensor_bottom" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" >
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">SEH</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="feh_left_modal_body">
        <iframe src="/modules/cmsdb_sensor_{{data.sensor_bottom }}" style="width: 100%; height: 700px"></iframe>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="manufacturer" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" >
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Manufacturer</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="feh_left_modal_body">
        <iframe src="/modules/cmsdb_manufacturer_{{data.manufacturer }}" style="width: 100%; height: 700px"></iframe>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{#<div class="modal fade" id="feh_left" data-url="{{ url_for('flask_modules.module_detail_cmsdb_feh', serial_number=data.feh_left) }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">#}
{#<div id="id03" class="w3-modal" >#}


{#$('#feh_left_modal_body').load('{{ url_for('flask_modules.module_detail_cmsdb_feh', serial_number=data.feh_left) }}');#}


<hr width="100%" size="20" align="center" color="black" noshade>


<div class="row">
    <div class="container">
        <h3 class="text-primary">Metrology - Sensor</h3>
    </div>
    <div class="container">

            <table id="data_metrology_sensor" class="table table-bordered table-responsive table-striped">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Module</th>
                    <th>Datetime</th>
                    <th>Operator</th>
                    <th>Station</th>
                    <th>rotation_urad</th>
                    <th>x_shift_um</th>
                    <th>y_shift_um</th>
                    <th>Auto. Grade</th>
                    <th>Man. Grade</th>
                    <th>comment</th>
                    <th>Details</th>
                  </tr>
                </thead>
                <tbody>
                </tbody>
              </table>
        </div>
</div>




<hr width="100%" size="20" align="center" color="black" noshade>

<div class="row">
    <div class="container">
        <h3 class="text-primary">Metrology - Sensor-Bridge</h3>
    </div>
    <div class="container">
            <table id="data_metrology_bridge" class="table table-bordered table-responsive table-striped">
                <thead>
                  <tr>
                    <th>id</th>
                    <th>Module ID</th>
                    <th>Datetime</th>
                    <th>Operator</th>
                    <th>Station</th>
                    <th>Man. Grade</th>
                    <th>Comment</th>
                    <th>Details</th>
                  </tr>
                </thead>
                <tbody>
                </tbody>
              </table>
              </table>
        </div>
</div>


<hr width="100%" size="20" align="center" color="black" noshade>

<div class="row">
    <div class="container">
        <h3 class="text-primary">Metrology - Height Profile</h3>
    </div>
    <div class="container">
            <table id="data_metrology_height" class="table table-bordered table-responsive table-striped">
                <thead>
                  <tr>
                    <th>id</th>
                    <th>Module ID</th>
                    <th>Datetime</th>
                    <th>Operator</th>
                    <th>Station</th>
                    <th>Man. Grade</th>
                    <th>Comment</th>
                    <th>Details</th>
                  </tr>
                </thead>
                <tbody>
                </tbody>
              </table>
              </table>
        </div>
</div>



<hr width="100%" size="20" align="center" color="black" noshade>
<div class="row">
    <div class="container">
        <h3 class="text-primary">Pulltest - Module</h3>
    </div>
    <div class="container">
            <table id="data_pulltest_module" class="table table-bordered table-responsive table-striped">
                <thead>
                  <tr>
                     <th>ID</th>
                    <th>Module</th>
                    <th>Datetime</th>
                    <th>Operator</th>
                    <th>Station</th>
{#                    <th>Auto. Grade</th>#}
{#                    <th>Man. Grade</th>#}
                    <th>comment</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                </tbody>
              </table>
    </div>
</div>

<hr width="100%" size="20" align="center" color="black" noshade>
<div class="row">
    <div class="container">
        <h3 class="text-primary">Pulltest - High Voltage</h3>
    </div>
    <div class="container">
            <table id="data_pulltest_HV" class="table table-bordered table-responsive table-striped">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Module</th>
                    <th>Datetime</th>
                    <th>Operator</th>
                    <th>Station</th>
{#                    <th>Auto. Grade</th>#}
{#                    <th>Man. Grade</th>#}
                    <th>comment</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                </tbody>
              </table>
    </div>
</div>



{% block scripts %}

<script>

    $(document).ready(function () {
      $('#data_metrology_sensor').DataTable({
        ajax: '/modules/metrology_sensor_data_{{ data.id }}',
        serverSide: true,
        retrieve: true,
        "bFilter": false,
        keys: true,
        lengthMenu: [[5, 10, 20, 100], [5, 10, 20, 100],],
        columns: [
          {data: 'id'},
          {data: 'module'},
          {data: 'timestamp'},
          {data: 'operator'},
          {data: 'station'},
          {data: 'rotation_urad'},
          {data: 'x_shift_um'},
          {data: 'y_shift_um'},
          {data: 'automatic_grade'},
          {data: 'manual_grade'},
          {#{data: 'temperature'},#}
          {#{data: 'humidity'},#}
          {data: 'comment'},
          {data: 'link'},
        ],
      });
    });

    $(document).ready(function () {
      $('#data_metrology_bridge').DataTable({
        ajax: '/modules/metrology_bridge_data_{{ data.id }}',
        serverSide: true,
        retrieve: true,
        "bFilter": false,
        keys: true,
        lengthMenu: [[5, 10, 20, 100], [5, 10, 20, 100],],
        columns: [
          {data: 'id'},
          {data: 'module'},
          {data: 'timestamp'},
          {data: 'operator'},
          {data: 'station'},
          {data: 'manual_grade'},
          {data: 'comment'},
          {data: 'link'},
        ],
      });
    });

        $(document).ready(function () {
      $('#data_metrology_height').DataTable({
        ajax: '/modules/metrology_height_data_{{ data.id }}',
        serverSide: true,
        retrieve: true,
        "bFilter": false,
        keys: true,
        lengthMenu: [[5, 10, 20, 100], [5, 10, 20, 100],],
        columns: [
          {data: 'id'},
          {data: 'module'},
          {data: 'timestamp'},
          {data: 'operator'},
          {data: 'station'},
          {data: 'manual_grade'},
          {data: 'comment'},
          {data: 'link'},
        ],
      });
    });

        $(document).ready(function () {
      $('#data_pulltest_module').DataTable({
        ajax: '/modules/pulltest_data_modules_{{ data.id }}',
        serverSide: true,
        retrieve: true,
        "bFilter": false,
        keys: true,
        lengthMenu: [[5, 10, 20, 100], [5, 10, 20, 100],],
        columns: [
          {data: 'id'},
          {data: 'module'},
          {data: 'timestamp'},
          {data: 'operator'},
          {data: 'station'},
          {#{data: 'automatic_grade'},#}
          {#{data: 'grade'},#}
          {#{data: 'resultclass'},#}
          {#{data: 'pulltest_product_name'},#}
          {#{data: 'timestamp'},#}
          {data: 'comment'},
          {data: 'link'},
        ],
      });
    });
    $(document).ready(function () {
      $('#data_pulltest_HV').DataTable({
        ajax: '/modules/pulltest_data_HV_{{ data.id }}',
        serverSide: true,
        retrieve: true,
        "bFilter": true,
        keys: true,
        lengthMenu: [[5, 10, 20, 100], [5, 10, 20, 100],],
        columns: [
          {data: 'id'},
          {data: 'module'},
          {data: 'timestamp'},
          {data: 'operator'},
          {data: 'station'},
          {#{data: 'automatic_grade'},#}
          {#{data: 'grade'},#}
          {#{data: 'resultclass'},#}
          {#{data: 'pulltest_product_name'},#}
          {#{data: 'timestamp'},#}
          {data: 'comment'},
          {data: 'link'},
        ],
      });
    });

    $(document).ready(function () {
    $('#module_information').DataTable({
        retrieve: true,
        searching: false,
        ordering: false,
        paging: false,
        "bFilter": false,
        dom: 'Blfrtip',
        keys: true,
        buttons: [
            'csv',
            'excel',
            {
                extend: 'pdfHtml5',
                orientation: 'portait',
                pageSize: 'A4',
                download: 'open'
            }
        ]
    });
});

    $(document).ready(function () {
    $('#assembly').DataTable({
        retrieve: true,
        searching: false,
        ordering: false,
        paging: false,
        "bFilter": false,
        dom: 'Blfrtip',
        keys: true,
        buttons: [
            'csv',
            'excel',
            {
                extend: 'pdfHtml5',
                orientation: 'landscape',
                pageSize: 'A4',
                download: 'open'
            }
        ]
    });
});

</script>


{% endblock %}
{% endblock body %}