{%  extends "layout.html" %}

{%  block body %}

<div>

      <h1>Modul - All measrements</h1>
      <hr>


</div>

<h5>All Data</h5>

{% block content %}
  <table id="data" class="table table-bordered table-responsive table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>lot</th>
        <th>module</th>
        <th>tearoffforce</th>
        <th>gradecode</th>
        <th>resultclass</th>
        <th>comment</th>
        <th>ts</th>
        <th>product</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>


{% endblock %}


{% block scripts %}
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.js"></script>

{#<script>#}
{#    $(document).ready(function () {#}
{#      $('#data').DataTable({#}
{#        ajax: '/pulltest/overview/pulltest_data',#}
{#        serverSide: true,#}
{#        retrieve: true,#}
{#        columns: [#}
{#          {data: 'id'},#}
{#          {data: 'lot'},#}
{#          {data: 'module'},#}
{#          {data: 'tearoffforce'},#}
{#          {data: 'gradecode'},#}
{#          {data: 'resultclass'},#}
{#          {data: 'comment'},#}
{#          {data: 'ts'},#}
{#          {data: 'product'},#}
{#          {data: 'link'},#}
{#        ],#}
{#      });#}
{#    });#}
{#  </script>#}


{% endblock %}
{% endblock body %}