{%  extends "layout.html" %}


{%  block header_navbar %}
<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    Other Sensors
  </button>
  <ul class="dropdown-menu">
      {% for i in range(tech_data['button_id']|length) %}
            <li><a class="dropdown-item" href="sensor_{{ tech_data['button_id'][i] }}">{{ tech_data['button_name'][i] }}</a></li>
      {% endfor %}

  </ul>
</div>
{%  endblock header_navbar %}

{%  block body %}
<div class="row">
    <div class="container">
          <h1 class="text-dark">Sensor {{ data.sensor_name }}</h1>
          <hr width="100%" size="20" align="center" color="black" noshade>
    </div>
</div>


<div class="row">
{#    <div class="container">#}
{#        <h3 class="text-primary"><i class="fas fa-info"></i> Details</h3>#}
{#    </div>#}
    <div class="container">
        <table class="table table-bordered table-responsive table-striped">
            <thead>
              <tr>
                <th>ID</th>
                <th>Sensor</th>
                <th>Linked module</th>
                <th>Current location</th>
                <th>Comment</th>
                  <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>{{ data.id }}</th>
                <th>{{ data.sensor_name }}</th>
                <th>{{ data.Module_Overview.cern_module_id }}</th>
                <th>{{ data.current_location }} ({{ data.current_location_timestamp.date }} )</th>
                <th>{{ data.comment }}</th>
                <th>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                      <span class="fa fa-edit"></span> Edit

                    </button>
                </th>
              </tr>
            </tbody>
          </table>
        </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Measurement for {{ data.sensor_name }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form class="user" action="" method="post">
            {{ form.hidden_tag() }}

        <div class="table-responsive">
                <table class="table table-bordered table-striped table-hover">
                  <tbody>
                    <tr>
                      <th scope="row">Sensor</th>
                      <td>{{ data.sensor_name }}</td>
                    </tr>
                    <tr>
                      <th scope="row">Linked Module</th>
                      <td>{{ form.module(class="form-control form-control-lg") }}</td>
                    </tr>
                    <tr>
                      <th scope="row">Location</th>
                      <td>{{ form.location(class="form-control form-control-lg") }}</td>
                    </tr>
                    <tr>
                      <th scope="row">Grade</th>
                      <td>{{ form.grade(class="form-control form-control-lg") }}</td>
                    </tr>
                    <tr>
                      <th scope="row">Comment</th>
                      <td>{{ form.comment(class="form-control form-control-lg") }}</td>
                    </tr>

                    </tbody>
                </table>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <div class="form-group">{{ form.submit(class="btn btn-outline-info") }}</div>
{#        <button type="button" class="btn btn-primary">Save changes</button>#}
      </div>
        </form>
    </div>
  </div>
</div>
</div>


<div class="row">
<div class="container">
    <h3 class="text-primary">Details</h3>
</div>
<div class="table-responsive">
                <table class="table table-bordered table-striped table-hover">
                  <tbody>
                    <tr>
                      <th scope="row">Sensor ID</th>
                      <th>{{ data.sensor_name }}</th>
                    </tr>
                    <tr>
                      <th scope="row">manufacturer</th>
                      <td>{{ data.sensor_manufacturer }}</td>
                    </tr>
                    <tr>
                      <th scope="row">Production date</th>
                      <td>{{ data.sensor_production_date }}</td>
                    </tr>
                    <tr>
                      <th scope="row">Sensor location</th>
                      <td>{{ data.sensor_location }}</td>
                    </tr>
                    <tr>
                      <th scope="row">serial number</th>
                      <td>{{ data.sensor_serial_number }} (id: {{ data.sensor_id }})</td>
                    </tr>
                    <tr>
                      <th scope="row">Kind</th>
                      <td>{{ data.sensor_kind }} (id: {{ data.sensor_kind_id }})</td>
                    </tr>
                    <tr>
                      <th scope="row">CMS DB description</th>
                      <td>{{ data.sensor_description }}</td>
                    </tr>
                    <tr>
                      <th scope="row">Batch number</th>
                      <td>{{ data.sensor_batch_number }}</td>
                    </tr>
                    <tr>
                      <th scope="row">Sensor Barcode</th>
                      <td>{{ data.sensor_barcode }}</td>
                    </tr>
                    <tr>
                      <th scope="row">CMS DB Sensor status</th>
                      <td>{{ data.sensor_status }}</td>
                    </tr>
                    <tr>
                      <th scope="row">CMS DB Sensor type</th>
                      <td>{{ data.sensor_type }}</td>
                    </tr>
                    <tr>
                      <th scope="row">Sensor orientation</th>
                      <td>{{ data.sensor_orientation }}</td>
                    </tr>
                    <tr>
                      <th scope="row">known problem</th>
                      <td>{{ data.sensor_known_problem }}</td>
                    </tr>
                    <tr>
                      <th scope="row">Sensor position</th>
                      <td>{{ data.sensor_position }}</td>
                    </tr>
                    <tr>
                      <th scope="row">last CMS DB update</th>
                      <td>{{ data.cern_db_update_ts }}</td>
                    </tr>


                    </tbody>
                </table>
    </div>
</div>

<div class="row">
<div class="container">
    <h3 class="text-primary">Assembly Steps</h3>
</div>
<div class="table-responsive border border-dark">
                <table id="assembly" class="table table-bordered table-striped table-hover">
                    <thead>
                        <tr>
                          <th scope="row">Assemblystep</th>
                          <th scope="row">Datetime</th>
                          <th scope="row">Operator</th>
                          <th scope="row">Comment</th>
                        </tr>
                    </thead>
                  <tbody>
                      {% for assemblystep in assembly_data %}
                          <tr>
                              <th scope="row">{{ assemblystep }}</th>
                              <td>{{ assembly_data[assemblystep] }}</td>
                              <td>{{ assembly_data_operator[assemblystep] }}</td>
                              <td>{{ assembly_data_comment[assemblystep] }}</td>

                         </tr>
                      {% endfor %}
                    </tbody>
                </table>
    </div>
</div>


<hr width="100%" size="20" align="center" color="black" noshade>

<div class="row">
    <div class="container">
        <h3 class="text-primary"><i class="fa-solid fa-files"></i>IV-Curve - Sensor</h3>
    </div>
    <div class="container">
            <table id="data" class="table table-bordered table-responsive table-striped">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Datetime</th>
                    <th>Sensor</th>
                    <th>Datapoints</th>
                    <th>Assemblystep</th>
                    <th>Breakdown voltage</th>
                    <th>I@600V</th>
                    <th>I800/I600</th>
                    <th>I1000/I800</th>
                    <th>Comment</th>
                    <th>Details</th>
                  </tr>
                </thead>
                <tbody>
                </tbody>
              </table>
        </div>
</div>
<div class="row">
    <div class="container">
        <h3 class="text-primary"><i class="fa-solid fa-files"></i>IV-Curve CMS DB - Sensor</h3>
    </div>
    <div class="container">
            <table id="data_iv_cern" class="table table-bordered table-responsive table-striped">
                <thead>
                  <tr>
                    <th>RUN_NUMBER</th>
                    <th>BEGIN_DATE</th>
                    <th>LOCATION</th>
                    <th>RUN_TYPE</th>
                    <th>DESCRIPTION</th>
                  </tr>
                </thead>
                <tbody>
                </tbody>
              </table>
        </div>
</div>
<div class="row">
    <div class="container">
        <h3 class="text-primary"><i class="fa-solid fa-files"></i>IVt-Curve - Sensor</h3>
    </div>
    <div class="container">
            <table id="data_ivt" class="table table-bordered table-responsive table-striped">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Datetime</th>
                    <th>Sensor</th>
                    <th>Datapoints</th>
                    <th>Assemblystep</th>
                    <th>Breakdown voltage</th>
                    <th>I@600V</th>
                    <th>I800/I600</th>
                    <th>I1000/I800</th>
                    <th>Comment</th>
                    <th>Details</th>
                  </tr>
                </thead>
                <tbody>
                </tbody>
              </table>
        </div>
</div>
<div class="row">
    <div class="container">
        <h3 class="text-primary"><i class="fa-solid fa-files"></i>HV-Curve - Sensor</h3>
    </div>
    <div class="container">
            <table id="data_hv" class="table table-bordered table-responsive table-striped">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Datetime</th>
                    <th>Sensor</th>
                    <th>Datapoints</th>
                    <th>Assemblystep</th>
                    <th>Breakdown voltage</th>
                    <th>I@600V</th>
                    <th>I800/I600</th>
                    <th>I1000/I800</th>
                    <th>Comment</th>
                    <th>Details</th>
                  </tr>
                </thead>
                <tbody>
                </tbody>
              </table>
        </div>
</div>
<div class="row">
    <div class="container">
        <h3 class="text-primary"><i class="fa-solid fa-files"></i>Surface Inspection</h3>
    </div>
    <div class="container">
            <table id="data_si" class="table table-bordered table-responsive table-striped">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Datetime</th>
                    <th>Sensor</th>
                    <th>Assemblystep</th>
                    <th>Comment</th>
                    <th>Details</th>
                  </tr>
                </thead>
                <tbody>
                </tbody>
              </table>
        </div>
</div>

{#<div class="container-fluid w-100 p-3">#}
{#            <h5 class="text-primary">All IV-Curves</h5>#}
{#                <div id="chart" class="chart">#}
{#                    <script type='text/javascript'>#}
{#                      Plotly.newPlot('chart', {{ plotly_data['fig_all'] | safe }}, {{ plotly_data['plotly_layout'] | safe }}, {{ plotly_data['plotly_config'] | safe }});#}
{#                    </script>#}
{#                </div>#}
{##}
{#</div>#}




{% block scripts %}
  <script>
    $(document).ready(function () {
      $('#data').DataTable({
        ajax: '/modules/iv_curve_data_{{ data.sensor_name }}',
        serverSide: true,
        retrieve: true,
        "bFilter": false,
        keys: true,
        lengthMenu: [[5, 50, 100, 200], [5, 50, 100, 200],],
        columns: [
          {data: 'id'},
          {data: 'timestamp'},
          {data: 'iv_file_sensor'},
          {data: 'datapoints_number'},
          {data: 'assembly_step'},
          {data: 'maximum_voltage'},
          {data: 'current_value_at_600V'},
          {data: 'current_800/600'},
          {data: 'current_1000/800'},
          {data: 'comment'},
          {data: 'link'},
        ],
      });
    });
  </script>
  <script>
    $(document).ready(function () {
      $('#data_ivt').DataTable({
        ajax: '/modules/ivt_curve_data_{{ data.sensor_name }}',
        serverSide: true,
        retrieve: true,
        "bFilter": false,
        keys: true,
        lengthMenu: [[5, 50, 100, 200], [5, 50, 100, 200],],
        columns: [
          {data: 'id'},
          {data: 'timestamp'},
          {data: 'iv_file_sensor'},
          {data: 'datapoints_number'},
          {data: 'assembly_step'},
          {data: 'maximum_voltage'},
          {data: 'current_value_at_600V'},
          {data: 'current_800/600'},
          {data: 'current_1000/800'},
          {data: 'comment'},
          {data: 'link'},
        ],
      });
    });
  </script>
  <script>
    $(document).ready(function () {
      $('#data_hv').DataTable({
        ajax: '/modules/hv_curve_data_{{ data.sensor_name }}',
        serverSide: true,
        retrieve: true,
        "bFilter": false,
        keys: true,
        lengthMenu: [[5, 50, 100, 200], [5, 50, 100, 200],],
        columns: [
          {data: 'id'},
          {data: 'timestamp'},
          {data: 'iv_file_sensor'},
          {data: 'datapoints_number'},
          {data: 'assembly_step'},
          {data: 'maximum_voltage'},
          {data: 'current_value_at_600V'},
          {data: 'current_800/600'},
          {data: 'current_1000/800'},
          {data: 'comment'},
          {data: 'link'},
        ],
      });
    });
  </script>
  <script>
    $(document).ready(function () {
      $('#data_si').DataTable({
        ajax: '/modules/si_measurement_data_{{ data.sensor_name }}',
        serverSide: true,
        retrieve: true,
        "bFilter": false,
        keys: true,
        lengthMenu: [[5, 50, 100, 200], [5, 50, 100, 200],],
        columns: [
          {data: 'id'},
          {data: 'timestamp'},
          {data: 'file_sensor'},
          {data: 'assembly_step'},
          {data: 'comment'},
          {data: 'link'},
        ],
      });
    });
  </script>
  <script>
    $(document).ready(function () {
      $('#data_iv_cern').DataTable({
        ajax: '/modules/iv_curve_cern_data_{{ data.sensor_name }}',
        serverSide: false,
        retrieve: true,
        "bFilter": false,
        keys: true,
        lengthMenu: [[5, 50, 100, 200], [5, 50, 100, 200],],
        columns: [
          {data: 'RUN_NUMBER'},
          {data: 'BEGIN_DATE'},
          {data: 'LOCATION'},
          {data: 'RUN_TYPE'},
          {data: 'DESCRIPTION'},
        ],
      });
    });


    $(document).ready(function () {
    $('#module_information').DataTable({
        retrieve: true,
        searching: false,
        ordering: false,
        paging: false,
        "bFilter": false,
        dom: 'Blfrtip',
        keys: true,
        buttons: [
            'csv',
            'excel',
            {
                extend: 'pdfHtml5',
                orientation: 'portait',
                pageSize: 'A4',
                download: 'open'
            }
        ]
    });
});

    $(document).ready(function () {
    $('#assembly').DataTable({
        retrieve: true,
        searching: false,
        ordering: false,
        paging: false,
        "bFilter": false,
        dom: 'Blfrtip',
        keys: true,
        buttons: [
            'csv',
            'excel',
            {
                extend: 'pdfHtml5',
                orientation: 'portait',
                pageSize: 'A4',
                download: 'open'
            }
        ]
    });
});

  </script>

{% endblock %}
{% endblock body %}
