{%  extends "layout.html" %}

{%  block body %}

<div>
      <h1>Metrology - Sensor-Bridge-Alignment</h1>
</div>

{% block content %}
  <table id="data" class="table table-bordered table-responsive table-striped">
    <thead>
      <tr>
        <th>Module</th>
        <th>Datetime</th>
        <th>Operator</th>
        <th>Station</th>
        <th>Man. Grade</th>
        <th>Temp.</th>
        <th>Hum.</th>
        <th>comment</th>
        <th>Details</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
{% endblock %}


{% block scripts %}
  <script>
    $(document).ready(function () {
      $('#data').DataTable({
        ajax: '/metrology/bridge/data',
        serverSide: true,
        retrieve: true,
        columns: [
          {#{data: 'id'},#}
          {data: 'module'},
          {data: 'timestamp'},
          {data: 'operator'},
          {data: 'station'},
          {data: 'manual_grade'},
          {data: 'temperature'},
          {data: 'humidity'},
          {data: 'comment'},
          {data: 'link'},
        ],
      });
    });
  </script>
{% endblock %}

{% endblock body %}