{%  extends "layout.html" %}

{%  block body %}

<div class="row">
    <div class="container">
          <h1 class="text-dark">Metrology - Sensor to Sensor Alignment - Detail for {{ data.metrology_module }}</h1>
          <hr width="100%" size="20" align="center" color="black" noshade>
          <div id="table" class="{{ bg_color }}"></div>
    </div>


</div>

<div class="row">
    <div class="container">
          <h3 class="text-primary">General Properties</h3>
          <hr>
        <form class="user" action="" method="post">
            {{ form.hidden_tag() }}

        <table class="table table-bordered table-responsive table-striped">
          <thead>
            <tr>
                <th scope="col">Module</th>
                <th scope="col">Datetime</th>
                <th scope="col">Operator</th>
                <th scope="col">Station</th>
                <th scope="col">auto. Grade</th>
                <th scope="col">man. Grade</th>
                <th scope="col">Comment</th>
                <th scope="col">Measurement Status</th>
                <th scope="col">Submission</th>
            </tr>
          </thead>
          <tbody>
              <tr>
                <td>{{ data.metrology_module }} / {{ data.Module_Overview.cern_module_id }}</td>
                <td>{{ data.timestamp }}</td>
                <td>{{ data.General_Operators.identifier }}</td>
                <td>{{ data.General_Station.identifier }}</td>
                <td style="background-color: {{ data.General_Grade.color }}">{{ data.General_Grade.value }}</td>
                <td style="background-color: {{ data.General_Grade_man.color }}">{{ data.General_Grade_man.value }}</td>
                <td>{{ data.comment }}</td>
                <td>{{ data.measurement_status }}</td>
               <td>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                      <span class="fa fa-edit"></span> Edit

                    </button>

                   {% if data.cmsdb_upload_status %}
                        CMSDB upload on {{ data.cmsdb_upload_timestamp.date() }}
                   {% else %}
                     <a href="{{ url_for("flask_upload.metrology_sensor_upload", measurement_id=data.id) }}" class="btn btn-info" role="button"><i class="fas fa-paper-plane"></i> Upload to CMSDB</a>
                   {% endif %}
                </td>
            </tr>
{#            <tr>#}
{#                <td></td>#}
{#                <td></td>#}
{#                <td><div>{{ form.operator(class="form-control form-control-lg") }}</div></td>#}
{#                <td><div>{{ form.station(class="form-control form-control-lg") }}</div></td>#}
{#                <td></td>#}
{#                <td><div>{{ form.grade(class="form-control form-control-lg") }}</div></td>#}
{#                <td><div>{{ form.comment(class="form-control form-control-lg") }}</div></td>#}
{#                <td><div>{{ form.status(class="form-control form-control-lg") }}</div></td>#}
{#                <td><div class="form-group">{{ form.submit(class="btn btn-outline-info") }}</div></td>#}
{#            </tr>#}
          </tbody>
        </table>
        </form>
    </div>
</div>

    <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Measurement {{ data.id }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form class="user" action="" method="post">
            {{ form.hidden_tag() }}

        <div class="table-responsive">
                <table class="table table-bordered table-striped table-hover">
                  <tbody>
                    <tr>
                      <th scope="row">Operator</th>
                      <td>{{ form.operator(class="form-control form-control-lg") }}</td>
                    </tr>
                    <tr>
                      <th scope="row">Station</th>
                      <td>{{ form.station(class="form-control form-control-lg") }}</td>
                    </tr>
                    <tr>
                      <th scope="row">Grade</th>
                      <td>{{ form.grade(class="form-control form-control-lg") }}</td>
                    </tr>
                    <tr>
                      <th scope="row">Status</th>
                      <td>{{ form.status(class="form-control form-control-lg") }}</td>
                    </tr>
                    <tr>
                      <th scope="row">Comment</th>
                      <td>{{ form.comment(class="form-control form-control-lg") }}</td>
                    </tr>

                    </tbody>
                </table>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <div class="form-group">{{ form.submit(class="btn btn-outline-info") }}</div>
{#        <button type="button" class="btn btn-primary">Save changes</button>#}
      </div>
        </form>
    </div>
  </div>
</div>
</div>
<div style="overflow-x:auto;">
      <h3 class="text-primary">Measurement Details</h3>
      <hr>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="container">
                <img class="img-fluid" src="{{ url_for('static', filename='img/metrology/metrology_2s_sensor_modul.png') }}" alt="2S-Modul">
                <div class="text-primary" style="position: relative; bottom: 380px; left: 370px; font-size:18px; background-color: white; width: fit-content;"> <b >Rotation = {{ data.rotation_urad }} μrad</b></div>
                <div class="text-primary"  style="position: relative; bottom: 270px; left: 360px; font-size:18px; background-color: white; width: fit-content;"> <b>Shift x = {{ data.x_shift_um }} μm</b></div>
                <div class="text-primary"  style="position: relative; bottom: 290px; left: 140px; font-size:18px; background-color: white; width: fit-content;"> <b>Shift y = {{ data.y_shift_um }} μm</b></div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="table-responsive">
                <table class="table table-bordered table-striped table-hover">
                  <tbody>
                    <tr>
                      <th scope="row">Rotation</th>
                      <td style="background-color: {{ limit_colors["rotation"] }}">{{ data.rotation_urad }} μrad</td>
                    </tr>
                    <tr>
                      <th scope="row">Shift x</th>
                      <td style="background-color: {{ limit_colors["x_shift"] }}">{{ data.x_shift_um }} μm</td>
                    </tr>
                    <tr>
                      <th scope="row">Shift y</th>
                      <td style="background-color: {{ limit_colors["y_shift"] }}">{{ data.y_shift_um }} μm</td>
                    </tr>
                    <tr>
{#                      <th  scope="row">rdgtreg</th>#}
                      <th colspan="2" align="center"></th>
                    </tr>
                    <tr>
                      <th scope="row">Configuration</th>
                      <td>{{ data.metrology_config_name }}</td>
                    </tr>
                    <tr>
                      <th scope="row">Mount</th>
                      <td>{{ data.metrology_config_mounted }}</td>
                    </tr>
                    <tr>
                      <th scope="row">Config File</th>
                      <td>{{ data.metrology_config_file }}</td>
                    </tr>
                  <tr>
{#                      <th  scope="row">rdgtreg</th>#}
                      <th colspan="2" align="center"></th>
                    </tr>
                    <tr>
                      <th scope="row">Air Temp.</th>
                      <td style="background-color: {{ limit_colors["temp"] }}">{{ data.air_temperature }} °C</td>
                    </tr>
                    <tr>
                      <th scope="row">Air Hum</th>
                      <td style="background-color: {{ limit_colors["hum"] }}">{{ data.air_humidity }} %H</td>
                    </tr>
                  </tbody>
                </table>
                <p><span class="small"> * color code is based on latest limit values</span></p>
            </div>
        </div>
    </div>
</div>




</div>
{#<hr width="100%" size="20" align="center" color="black" noshade>#}

{#<div>#}
{#  <h3 class="text-primary">Images paths</h3>#}
{#  <hr>#}
{#    {% for i in images %}#}
{#        <p>path of image is: {{ i }} and the whole path is then {{ 'data/metrology/' + i }}</p>#}
{#    {% endfor %}#}
{##}
{#</div>#}
<div>
      <h3 class="text-primary">Images</h3>
      <hr>
          <!-- Image Zoom HTML -->
    <div class="zoomEffect_2">
    {% for i in images %}
        <img src="{{url_for('static', filename='data/metrology/' + i)}}" class='img-zoomable' alt="{{ i }}" align="middle" width="300" />
    {% endfor %}
    </div>

</div>

<div>
<button type="submit" class="btn btn-dark"><a href="sensor_all_plots_{{ data.id }}" >Link to all plots</a> </button>

{#<form method="post" align="right" action="/metrology/overview" method="post">#}
{#        <input type="hidden" id="id" name="id" value="{{ data.id }}"><br>#}
{#        <input type="hidden" id="type" name="type" value="sensor"><br>#}
{#        <button type="submit" class="btn btn-dark">Link to all plots</button>#}
{#</form>#}


</div>
<h3 class="text-primary">Plots</h3>
    <hr>
<div class="container-fluid">
    <div class="row" size="100%">
        <div class="col-md-4">
            <h3 class="text-dark">Rotation</h3>
            <div id="chart" class="chart"></div>
        </div>
        <div class="col-md-4">
            <h3 class="text-dark">Shift x</h3>
            <div id="chart2"  class="chart"></div>
        </div>
        <div class="col-md-4">
            <h3 class="text-dark">Shift y</h3>
             <div id="chart3"  class="chart"></div>
        </div>
    </div>
</div>


</body>


{% block scripts %}
    <script type='text/javascript'>
      var graphs = {{graphJSON_list[0] | safe}};
      Plotly.plot('chart',graphs,{});
    </script>

    <script type='text/javascript'>
      var graphs = {{graphJSON_list[1] | safe}};
      Plotly.plot('chart2',graphs,{});
    </script>

    <script type='text/javascript'>
      var graphs = {{graphJSON_list[2] | safe}};
      Plotly.plot('chart3',graphs,{});
    </script>

    <script>
      // Listen to images after DOM content is fully loaded
      document.addEventListener('DOMContentLoaded', function () {
        new Zooming({
          customSize: '200%'
        }).listen('.img-zoomable')
      })
    </script>
{% endblock scripts%}
{% endblock body %}


