{%  extends "layout.html" %}

{%  block body %}

<div class="row">
    <div class="container-fluid">
          <h1 class="text-dark">Metrology - Height Profile - Detail for {{ data.metrology_module  }}</h1>
          <hr width="100%" size="20" align="center" color="black" noshade>
    </div>

    <form method="post" align="right" action="/metrology/create_xml" method="post">
            <input type="hidden" id="id" name="id" value="{{ data.id }}"><br>
            <input type="hidden" id="type" name="type" value="sensor"><br>
            <button type="submit" class="btn btn-info">CREATE XML</button>
    </form>

</div>

<div class="row">
    <div class="container-fluid">
          <h3 class="text-primary">General Properties</h3>
          <hr>
        <form class="user" action="" method="post">
            {{ form.hidden_tag() }}

        <table class="table table-bordered table-responsive table-striped">
          <thead>
            <tr>
            <th scope="col">Module</th>
            <th scope="col">Datetime</th>
            <th scope="col">Operator</th>
            <th scope="col">Station</th>
             <th scope="col">auto. Grade</th>
             <th scope="col">man. Grade</th>
            <th scope="col">Comment</th>
            <th scope="col">Measurement Status</th>
            <th scope="col">Submission</th>
            </tr>
          </thead>
          <tbody>
            <tr>
                <td>{{ data.Module_Overview.cern_module_id }}</td>
                <td>{{ data.timestamp }}</td>
                <td>{{ data.General_Operators.identifier }}</dir></td>
                <td>{{ data.General_Station.identifier }}</dir></td>
                <td style="background-color: {{ data.General_Grade.color }}">{{ data.General_Grade.value }}</dir></td>
                <td style="background-color: {{ data.General_Grade_man.color }}">{{ data.General_Grade_man.value }}</dir></td>
                <td>{{ data.comment }}</dir></td>
                <td>{{ data.General_Status.name }}</dir></td>
                <td>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                      <span class="fa fa-edit"></span> Edit

                    </button>
                </td>
            </tr>
{#            <tr>#}
{#                <td></td>#}
{#                <td></td>#}
{#                <td></div>{{ form.operator(class="form-control form-control-lg") }}</dir></td>#}
{#                <td></div>{{ form.station(class="form-control form-control-lg") }}</dir></td>#}
{#                <td></td>#}
{#                <td></div>{{ form.grade(class="form-control form-control-lg") }}</dir></td>#}
{#                <td></div>{{ form.comment(class="form-control form-control-lg") }}</dir></td>#}
{#                <td></div>{{ form.status(class="form-control form-control-lg") }}</dir></td>#}
{#                <td><div class="form-group">{{ form.submit(class="btn btn-outline-info") }}</div></td>#}
{#            </tr>#}
          </tbody>
        </table>
        </form>
    </div>
</div>

    <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Measurement {{ data.id }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form class="user" action="" method="post">
            {{ form.hidden_tag() }}

        <div class="table-responsive">
                <table class="table table-bordered table-striped table-hover">
                  <tbody>
                    <tr>
                      <th scope="row">Operator</th>
                      <td>{{ form.operator(class="form-control form-control-lg") }}</td>
                    </tr>
                    <tr>
                      <th scope="row">Station</th>
                      <td>{{ form.station(class="form-control form-control-lg") }}</td>
                    </tr>
                    <tr>
                      <th scope="row">Grade</th>
                      <td>{{ form.grade(class="form-control form-control-lg") }}</td>
                    </tr>
                    <tr>
                      <th scope="row">Status</th>
                      <td>{{ form.status(class="form-control form-control-lg") }}</td>
                    </tr>
                    <tr>
                      <th scope="row">Comment</th>
                      <td>{{ form.comment(class="form-control form-control-lg") }}</td>
                    </tr>

                    </tbody>
                </table>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <div class="form-group">{{ form.submit(class="btn btn-outline-info") }}</div>
{#        <button type="button" class="btn btn-primary">Save changes</button>#}
      </div>
        </form>
    </div>
  </div>
</div>
</div>

{#<div>#}
{#  <h3 class="text-primary">Images paths</h3>#}
{#  <hr>#}
{#    {% for i in images %}#}
{#        <p>path of image is: {{ i }} and the whole path is then {{ 'data/metrology/' + i }}</p>#}
{#    {% endfor %}#}
{##}
{#</div>#}

<div class="row">
    <div class="container-fluid">
      <h3 class="text-primary">Images</h3>
      <hr>
          <!-- Image Zoom HTML -->
        <div class="zoomEffect_2">
            {% for i in images %}
                <img src="{{url_for('static', filename='data/metrology/' + i)}}" class='img-zoomable' alt="{{ i }}" align="middle" width="300" />
            {% endfor %}
        </div>
</div>
</div>




{% block scripts %}
    <script>
      // Listen to images after DOM content is fully loaded
      document.addEventListener('DOMContentLoaded', function () {
        new Zooming({
          customSize: '200%'
        }).listen('.img-zoomable')
      })
    </script>
{% endblock %}


{% endblock body %}