{%  extends "layout.html" %}

{%  block body %}
<div class="row">

    <div class="container">
          <h1 class="text-dark">Metrology - Overview</h1>
          <h5>Only "PENDING"-Data shown</h5>

    </div>
    <div>
        <form method="post" align="right" action="/metrology/get_data" method="post">
                <button type="submit" class="btn btn-secondary">SYNC Data</button>
        </form>
    </div>
    <hr width="100%" size="20" align="center" color="black" noshade>
</div>





{% block content %}
<div class="container-fluid">
    <div class="row" size="100%">
        <div class="col-md-4">
            <h3 class="text-primary">Metrology - Alignment</h3>
                <table id="data_sensor" class="table table-bordered table-responsive table-striped">
                    <thead>
                      <tr>
{#                        <th>id</th>#}
                        <th>Module</th>
                        <th>Datetime</th>
                        <th>Grade</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                    </tbody>
                  </table>
        </div>
        <div class="col-md-4">
            <h3 class="text-primary">Metrology - Sensor-Bridge</h3>
            <table id="data_bridge" class="table table-bordered table-responsive table-striped">
                <thead>
                  <tr>
{#                    <th>id</th>#}
                    <th>Module</th>
                    <th>Datetime</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                </tbody>
              </table>
        </div>
        <div class="col-md-4">
            <h3 class="text-primary">Metrology - Height Profile</h3>
            <table id="data_height" class="table table-bordered table-responsive table-striped">
                <thead>
                  <tr>
{#                    <th>id</th>#}
                    <th>Module</th>
                    <th>Datetime</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                </tbody>
              </table>
        </div>
    </div>
</div>


{% endblock %}


{% block scripts %}

  <script>
    $(document).ready(function () {
      $('#data_sensor').DataTable({
        ajax: '/metrology/overview/data_sensor',
        serverSide: true,
        retrieve: true,
        "bFilter": true,
        keys: true,
        lengthMenu: [[20, 10, 50, 100], [20, 10, 50, 100],],
        columns: [
          {#{data: 'id'},#}
          {data: 'metrology_module'},
          {data: 'timestamp'},
          {#{data: 'rotation_urad'},#}
          {#{data: 'x_shift_um'},#}
          {#{data: 'y_shift_um'},#}
          {data: 'automatic_grade'},
          {data: 'link'},
        ],
      });
    });
  </script>


<script>
    $(document).ready(function () {
      $('#data_bridge').DataTable({
        ajax: '/metrology/overview/data_bridge',
        serverSide: true,
        retrieve: true,
        "bFilter": true,
        keys: true,
        lengthMenu: [[20, 10, 50, 100], [20, 10, 50, 100],],
        columns: [
          {#{data: 'id'},#}
          {data: 'metrology_module'},
          {data: 'timestamp'},
          {data: 'link'},
        ],
      });
    });
  </script>

    <script>
    $(document).ready(function () {
      $('#data_height').DataTable({
        ajax: '/metrology/overview/data_height',
        serverSide: true,
        retrieve: true,
        "bFilter": true,
        keys: true,
        lengthMenu: [[20, 10, 50, 100], [20, 10, 50, 100],],
        columns: [
          {#{data: 'id'},#}
          {data: 'metrology_module'},
          {data: 'timestamp'},
          {#{data: 'module'},#}
          {data: 'link'},
        ],
      });
    });
  </script>


{% endblock %}
{% endblock body %}