{%  extends "layout.html" %}

{%  block body %}

<div>
      <h1>Metrology Sensor-Sensor Alignment</h1>
      <hr>
      <div id="table" class="{{ bg_color }}"></div>
</div>

{% block content %}
  <table id="data" class="table table-bordered table-responsive table-striped">
    <thead>
      <tr>
        <th>Module</th>
        <th>Datetime</th>
        <th>Operator</th>
        <th>Station</th>
        <th>rotation_urad</th>
        <th>x_shift_um</th>
        <th>y_shift_um</th>
        <th>Auto Grade</th>
        <th>Man. Grade</th>
        <th>Temp.</th>
        <th>Hum.</th>
        <th>comment</th>
        <th>Details</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
{% endblock %}


{% block scripts %}

  <script>
    $(document).ready(function () {
      $('#data').DataTable({
        ajax: '/metrology/sensor/data',
        serverSide: true,
        retrieve: true,
        columns: [
          {#{data: 'id'},#}
          {data: 'module'},
          {data: 'timestamp'},
          {#{data: 'status'},#}
          {data: 'operator'},
          {data: 'station'},
          {data: 'rotation_urad'},
          {data: 'x_shift_um'},
          {data: 'y_shift_um'},
          {#{data: 'module_assembly_status'},#}
          {#{data: 'metrology_config_file'},#}
          {data: 'automatic_grade'},
          {data: 'manual_grade'},
          {data: 'temperature'},
          {data: 'humidity'},
          {data: 'comment'},
          {data: 'link'},
        ],
      });
    });
  </script>
{% endblock %}

{% endblock body %}