{%  extends "layout.html" %}

{%  block body %}
<div class="row">
    <div class="container">
          <h1 class="text-dark">Metrology - Sensor to Bridge Alignment - Detail for {{ data.metrology_module  }}</h1>

    </div>

    <form method="post" align="right" action="/metrology/create_xml" method="post">
        <input type="hidden" id="id" name="id" value="{{ data.id }}"><br>
        <input type="hidden" id="type" name="type" value="bridge"><br>
        <button type="submit" class="btn btn-secondary">CREATE XML</button>
    </form>

    <hr width="100%" size="20" align="center" color="black" noshade>

</div>


<div class="row">
    <div class="container">
          <h3 class="text-primary">General Properties</h3>
          <hr>
        <form class="user" action="" method="post">
            {{ form.hidden_tag() }}

        <table class="table table-bordered table-responsive table-striped">
          <thead>
            <tr>
                <th scope="col">Module</th>
                <th scope="col">Datetime</th>
                <th scope="col">Operator</th>
                <th scope="col">Station</th>
                <th scope="col">auto. Grade</th>
                <th scope="col">man. Grade</th>
                <th scope="col">Comment</th>
                <th scope="col">Measurement Status</th>
                <th scope="col">Edit</th>
            </tr>
          </thead>
          <tbody>
            <tr>
                <td>{{ data.Module_Overview.cern_module_id }}</td>
                <td>{{ data.timestamp }}</td>
    {#            <td></div>{{ form.module_category(class="form-control form-control-lg") }}</dir></td>#}
                <td>{{ data.General_Operators.identifier }}</td>
                <td>{{ data.General_Station.identifier }}</td>
                <td style="background-color: {{ data.General_Grade.color }}">{{ data.General_Grade.value }}</td>
                <td style="background-color: {{ data.General_Grade_man.color }}">{{ data.General_Grade_man.value }}</td>
                <td>{{ data.comment }}</td>
                <td>{{ data.General_Status.name }}</td>
                <td>
                                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                      <span class="fa fa-edit"></span> Edit

                    </button>
                </td>
            </tr>
            <tr>
{#                <td></td>#}
{#                <td></td>#}
{#                <td><div>{{ form.operator(class="form-control form-control-lg") }}</div></td>#}
{#                <td><div>{{ form.station(class="form-control form-control-lg") }}</div></td>#}
{#                <td></td>#}
{#                <td><div>{{ form.grade(class="form-control form-control-lg") }}</div></td>#}
{#                <td><div>{{ form.comment(class="form-control form-control-lg") }}</div></td>#}
{#                <td><div>{{ form.status(class="form-control form-control-lg") }}</div></td>#}
{##}
{#                <td>#}
{#                    <!-- to remove --> <div class="form-group">{{ form.submit(class="btn btn-outline-info") }}</div>#}
{##}
{#                </td>#}
            </tr>
          </tbody>
        </table>
        </form>
    </div>
</div>

    <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Measurement {{ data.id }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form class="user" action="" method="post">
            {{ form.hidden_tag() }}

        <div class="table-responsive">
                <table class="table table-bordered table-striped table-hover">
                  <tbody>
                    <tr>
                      <th scope="row">Operator</th>
                      <td>{{ form.operator(class="form-control form-control-lg") }}</td>
                    </tr>
                    <tr>
                      <th scope="row">Station</th>
                      <td>{{ form.station(class="form-control form-control-lg") }}</td>
                    </tr>
                    <tr>
                      <th scope="row">Grade</th>
                      <td>{{ form.grade(class="form-control form-control-lg") }}</td>
                    </tr>
                    <tr>
                      <th scope="row">Status</th>
                      <td>{{ form.status(class="form-control form-control-lg") }}</td>
                    </tr>
                    <tr>
                      <th scope="row">Comment</th>
                      <td>{{ form.comment(class="form-control form-control-lg") }}</td>
                    </tr>

                    </tbody>
                </table>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <div class="form-group">{{ form.submit(class="btn btn-outline-info") }}</div>
{#        <button type="button" class="btn btn-primary">Save changes</button>#}
      </div>
        </form>
    </div>
  </div>
</div>
</div>
<div class="row">
    <div class="container">
        <div class="col-md-12">
            <h3 class="text-primary">Measurement Details</h3>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <h5>Left Bridge</h5>
            <div class="table-responsive">
                <table class="table table-bordered table-striped table-hover">
                  <tbody>
                    <tr>
                      <th scope="row">Top Sensor x</th>
                      <td>{{ data.Left_Bridge_Top_Sensor_x }} μm</td>
                    </tr>
                    <tr>
                      <th scope="row">Top Sensor y</th>
                      <td>{{ data.Left_Bridge_Top_Sensor_y }} μm</td>
                    </tr>
                    <tr>
                      <th scope="row">Top Sensor rad</th>
                      <td>{{ data.Left_Bridge_Top_Sensor_rad }} μrad</td>
                    </tr>
                    <tr>
{#                      <th  scope="row">rdgtreg</th>#}
                    <th colspan="2" align="center"></th>
                    </tr>
                    <tr>
                      <th scope="row">Bot Sensor x</th>
                      <td>{{ data.Left_Bridge_Bot_Sensor_x }} μm</td>
                    </tr>
                    <tr>
                      <th scope="row">Bot Sensor y</th>
                      <td>{{ data.Left_Bridge_Bot_Sensor_y }} μm</td>
                    </tr>
                    <tr>
                      <th scope="row">Bot Sensor rad</th>
                      <td>{{ data.Left_Bridge_Bot_Sensor_rad }}</td>
                    </tr>
                  </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-3">
            <h5>Right Bridge</h5>
            <div class="table-responsive">
                <table class="table table-bordered table-striped table-hover">
                  <tbody>
                    <tr>
                      <th scope="row">Top Sensor x</th>
                      <td>{{ data.Right_Bridge_Top_Sensor_x }} μm</td>
                    </tr>
                    <tr>
                      <th scope="row">Top Sensor y</th>
                      <td>{{ data.Right_Bridge_Top_Sensor_y }} μm</td>
                    </tr>
                    <tr>
                      <th scope="row">Top Sensor rad</th>
                      <td>{{ data.Right_Bridge_Top_Sensor_rad }} μrad</td>
                    </tr>
                    <tr>
{#                      <th  scope="row">rdgtreg</th>#}
                    <th colspan="2" align="center"></th>
                    </tr>
                    <tr>
                      <th scope="row">Bot Sensor x</th>
                      <td>{{ data.Right_Bridge_Bot_Sensor_x }} μm</td>
                    </tr>
                    <tr>
                      <th scope="row">Bot Sensor y</th>
                      <td>{{ data.Right_Bridge_Bot_Sensor_y }} μm</td>
                    </tr>
                    <tr>
                      <th scope="row">Bot Sensor rad</th>
                      <td>{{ data.Right_Bridge_Bot_Sensor_rad }}</td>
                    </tr>
                  </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-3">
            <h5>Upper Stump</h5>
            <div class="table-responsive">
                <table class="table table-bordered table-striped table-hover">
                  <tbody>
                    <tr>
                      <th scope="row">Top Sensor x</th>
                      <td>{{ data.Upper_Stump_Top_Sensor_x }} μm</td>
                    </tr>
                    <tr>
                      <th scope="row">Top Sensor y</th>
                      <td>{{ data.Upper_Stump_Top_Sensor_y }} μm</td>
                    </tr>
                    <tr>
{#                      <th  scope="row">rdgtreg</th>#}
                    <th colspan="2" align="center"></th>
                    </tr>
                    <tr>
                      <th scope="row">Bot Sensor x</th>
                      <td>{{ data.Upper_Stump_Bot_Sensor_x }} μm</td>
                    </tr>
                    <tr>
                      <th scope="row">Bot Sensor y</th>
                      <td>{{ data.Upper_Stump_Bot_Sensor_y }} μm</td>
                    </tr>
                  </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-3">
            <h5>Lower Stump</h5>
            <div class="table-responsive">
                <table class="table table-bordered table-striped table-hover">
                  <tbody>
                    <tr>
                      <th scope="row">Top Sensor x</th>
                      <td>{{ data.Lower_Stump_Top_Sensor_x }} μm</td>
                    </tr>
                    <tr>
                      <th scope="row">Top Sensor y</th>
                      <td>{{ data.Lower_Stump_Top_Sensor_y }} μm</td>
                    </tr>
                    <tr>
{#                      <th  scope="row">rdgtreg</th>#}
                    <th colspan="2" align="center"></th>
                    </tr>
                    <tr>
                      <th scope="row">Bot Sensor x</th>
                      <td>{{ data.Lower_Stump_Bot_Sensor_x }} μm</td>
                    </tr>
                    <tr>
                      <th scope="row">Bot Sensor y</th>
                      <td>{{ data.Lower_Stump_Bot_Sensor_y }} μm</td>
                    </tr>
                  </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{# Modal#}
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Measurement {{ data.id }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form class="user" action="" method="post">
            {{ form.hidden_tag() }}

        <div class="table-responsive">
                <table class="table table-bordered table-striped table-hover">
                  <tbody>
                    <tr>
                      <th scope="row">Sensor</th>
                      <td>{{ data.iv_file_sensor }}</td>
                    </tr>
                    <tr>
                      <th scope="row">Operator</th>
                      <td>{{ form.operator(class="form-control form-control-lg") }}</td>
                    </tr>
                    <tr>
                      <th scope="row">Station</th>
                      <td>{{ form.station(class="form-control form-control-lg") }}</td>
                    </tr>
                    <tr>
                      <th scope="row">Grade</th>
                      <td>{{ form.grade(class="form-control form-control-lg") }}</td>
                    </tr>
                    <tr>
                      <th scope="row">Comment</th>
                      <td>{{ form.comment(class="form-control form-control-lg") }}</td>
                    </tr>

                    </tbody>
                </table>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <div class="form-group">{{ form.submit(class="btn btn-outline-info") }}</div>
{#        <button type="button" class="btn btn-primary">Save changes</button>#}
      </div>
        </form>
    </div>
  </div>
</div>

{##}
{#<script src="../static/js/gridjs.umd.js"></script>#}
{#<script src="src/index.js"></script>#}
{#<script>#}
{#      new gridjs.Grid({#}
{#        columns: [#}
{#          { id: 'id', name: 'ID', sort: true},#}
{#          { id: 'Module_ID', name: 'Module_ID', sort: true},#}
{#          { id: 'Datetime', name: 'Datetime', sort: true },#}
{#          { id: 'rotation_urad', name: 'rotation_urad', sort: true },#}
{#          { id: 'x_shift_um', name: 'x_shift_um', sort: true},#}
{#          { id: 'y_shift_um', name: 'y_shift_um', sort: true},#}
{#          { id: 'comment', name: 'comment', sort: true},#}
{#          { id: 'config_file', name: 'config_file', sort: true},#}
{#          { id: 'config_mounted', name: 'config_mounted', sort: true},#}
{#          { id: 'config_name', name: 'config_name', sort: true},#}
{##}
{#        ],#}
{#        style: {#}
{#            table: {#}
{#                'white-space': 'nowrap'#}
{#                }#}
{#        },#}
{#        data: [#}
{#            {#}
{#              id:           '{{ data.id }}',#}
{#              Module_ID:    '{{ data.Module_ID }}',#}
{#              Datetime:     '{{ data.Datetime }}',#}
{#              rotation_urad: '{{ data.rotation_urad }}',#}
{#              x_shift_um:   '{{ data.x_shift_um }}',#}
{#              y_shift_um:   '{{ data.y_shift_um }}',#}
{#              comment:      '{{ data.comment }}',#}
{#              image_folder:  '{{ data.image_folder }}',#}
{#              config_file:  '{{ data.config_file }}',#}
{#              config_mounted: '{{ data.config_mounted }}',#}
{#              config_name:  '{{ data.config_name }}'#}
{#            },#}
{#        ],#}
{#        search: {#}
{#          selector: (cell, rowIndex, cellIndex) => cellIndex === 0 ? cell.firstName : cell,#}
{#        },#}
{#        sort: true,#}
{#        pagination: false,#}
{#        resizable: false,#}
{#        autoWidth: true,#}
{#      }).render(document.getElementById('table'));#}
{#</script>#}
{##}


{##}
{#<div>#}
{#      <h2>Images</h2>#}
{#      <hr>#}
{#          <!-- Image Zoom HTML -->#}
{#    <div class="zoomEffect_2">#}
{#    {% for i in images %}#}
{#        <img src="{{url_for('static', filename='data/metrology/' + i)}}" align="middle" width="300" />#}
{#    {% endfor %}#}
{#    </div>#}
{#</div>#}
{##}






{% endblock body %}