{%  extends "layout.html" %}

{%  block body %}

<div>
      <h1>Metrology Height measurement</h1>
      <hr>
      <div id="table" class="{{ bg_color }}"></div>
</div>

{% block content %}
  <table id="data" class="table table-bordered table-responsive table-striped">
    <thead>
      <tr>
        <th>Module</th>
        <th>Datetime</th>
        <th>Operator</th>
        <th>Station</th>
{#        <th>Auto Grade</th>#}
        <th>Man. Grade</th>
        <th>Temp.</th>
        <th>Hum.</th>
        <th>comment</th>
        <th>Details</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.js"></script>
  <script>
    $(document).ready(function () {
      $('#data').DataTable({
        ajax: '/metrology/height/data',
        serverSide: true,
        retrieve: true,
        "bFilter": false,
        keys: true,
        lengthMenu: [[5, 10, 20, 100, -1], [5, 10, 20, 100, 'All'],],
        columns: [
          {data: 'module'},
          {data: 'timestamp'},
          {data: 'operator'},
          {data: 'station'},
          {#{data: 'automatic_grade'},#}
          {data: 'manual_grade'},
          {data: 'temperature'},
          {data: 'humidity'},
          {data: 'comment'},
          {data: 'link'},
        ],
      });
    });
  </script>
{% endblock %}

{% endblock body %}