{%  extends "layout.html" %}

{%  block body %}

<div class="row">
    <div class="container">
          <h1 class="text-dark">Metrology - Sensor to Sensor Alignment - All Plots for {{ data.Module_Name  }}</h1>
          <hr width="100%" size="20" align="center" color="black" noshade>
    </div>
</div>


<div>
      <h2 class="text-primary">Images</h2>
      <hr>
          <!-- Image Zoom HTML -->
    <div class="zoomEffect_2">
    <h2 class="text-primary">Overview Images</h2>
    {% for i in images_1 %}
        <img src="{{url_for('static', filename='data/metrology/' + i)}}" align="middle" width="300" />
    {% endfor %}
    </div>

    <div class="zoomEffect_2">
    {% for folder in subfolder_list %}
        <h2 class="text-primary">Images - {{ folder }}</h2>
        <hr width="100%" size="20" align="center" color="black" noshade>
        {% for i in images_2 %}
            {% if i.split('/')[-2] == folder %}
                <img src="{{url_for('static', filename='data/metrology/' + i)}}" align="middle" width="300" />
            {% endif %}
        {% endfor %}
    {% endfor %}
    </div>


</div>

{% endblock body %}