{%  extends "layout.html" %}

{%  block body %}

<div class="row">
    <div class="container">
          <h1 class="text-dark">Metrology - Sensor to Sensor Alignment - Detail for {{ data.Module_Name  }}</h1>
          <hr width="100%" size="20" align="center" color="black" noshade>
          <div id="table" class="{{ bg_color }}"></div>
    </div>

    <form method="post" align="right" action="/metrology/create_xml" method="post">
            <input type="hidden" id="id" name="id" value="{{ data.id }}"><br>
            <input type="hidden" id="type" name="type" value="sensor"><br>
            <button type="submit" class="btn btn-info">CREATE XML</button>
    </form>

</div>

<div class="row">
    <div class="container">
          <h3 class="text-primary">General Properties</h3>
          <hr>
        <form class="user" action="" method="post">
            {{ form.hidden_tag() }}

        <table class="table table-bordered table-responsive table-striped">
          <thead>
            <tr>
            <th scope="col">Module ID</th>
            <th scope="col">Datetime of Measurement</th>
            <th scope="col">Module category</th>
            <th scope="col">Operator</th>
            <th scope="col">Station</th>
            <th scope="col">Comment</th>
            <th scope="col">Measurement Status</th>
            <th scope="col">Submission</th>
            </tr>
          </thead>
          <tbody>
            <tr>
            <td>{{ data.Module_Name }}</td>
            <td>{{ data.Datetime }}</td>
            <td></div>{{ form.module_category(class="form-control form-control-lg") }}</dir></td>
            <td></div>{{ form.operator(class="form-control form-control-lg") }}</dir></td>
            <td></div>{{ form.station(class="form-control form-control-lg") }}</dir></td>
            <td></div>{{ form.comment(class="form-control form-control-lg") }}</dir></td>
            <td></div>{{ form.status(class="form-control form-control-lg") }}</dir></td>
            <td><div class="form-group">{{ form.submit(class="btn btn-outline-info") }}</div></td>
            </tr>
          </tbody>
        </table>
        </form>
    </div>
</div>

{#<hr width="100%" size="20" class="$">#}

<div style="overflow-x:auto;">
      <h3 class="text-primary">Measurement Details</h3>
      <hr>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="container">
                <img class="img-fluid" src="{{ url_for('static', filename='img/metrology/metrology_2s_sensor_modul.png') }}" alt="2S-Modul">
                <div class="text-primary" style="position: relative; bottom: 380px; left: 370px; font-size:18px; background-color: white; width: fit-content;"> <b >Rotation = {{ data.rotation_urad }} μrad</b></div>
                <div class="text-primary"  style="position: relative; bottom: 270px; left: 360px; font-size:18px; background-color: white; width: fit-content;"> <b>Shift x = {{ data.x_shift_um }} μm</b></div>
                <div class="text-primary"  style="position: relative; bottom: 290px; left: 140px; font-size:18px; background-color: white; width: fit-content;"> <b>Shift y = {{ data.y_shift_um }} μm</b></div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="table-responsive">
                <table class="table table-bordered table-striped table-hover">
                  <tbody>
                    <tr>
                      <th scope="row">Original Grade</th>
                      <td class="table-danger">GOOD</td>
                    </tr>
                    <tr>
                      <th scope="row">Live Grade</th>
                      <td class="table-success">GOOD</td>
                    </tr>
                    <tr>
                      <th scope="row">Rotation</th>
                      <td>{{ data.rotation_urad }} μrad</td>
                    </tr>
                    <tr>
                      <th scope="row">Shift x</th>
                      <td>{{ data.x_shift_um }} μm</td>
                    </tr>
                    <tr>
                      <th scope="row">Shift y</th>
                      <td>{{ data.y_shift_um }} μm</td>
                    </tr>
                    <tr>
{#                      <th  scope="row">rdgtreg</th>#}
                      <th colspan="2" align="center"></th>
                    </tr>
                    <tr>
                      <th scope="row">Configuration</th>
                      <td>{{ data.config_name }}</td>
                    </tr>
                    <tr>
                      <th scope="row">Mount</th>
                      <td>{{ data.config_mounted }}</td>
                    </tr>
                    <tr>
                      <th scope="row">Config File</th>
                      <td>{{ data.config_file }}</td>
                    </tr>
                  </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<div> </div>
{% endblock body %}