{%  extends "layout.html" %}

{%  block body %}

<div class="row">

    <div class="container">
          <h1 class="text-dark">Tools Consumables</h1>
{#          <h5>Only "PENDING"-Data shown</h5>#}

    </div>
    <hr width="100%" size="20" align="center" color="black" noshade>
</div>
<div class="container-fluid" align="right">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary bg-danger" data-bs-toggle="modal" data-bs-target="#exampleModal2">
          <span class="fa fa-edit"></span> Add Category
        </button>

        <button type="button" class="btn btn-primary bg-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
          <span class="fa fa-edit"></span> Add Log
        </button>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Log</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form class="user" action="" method="post">
            {{ form.hidden_tag() }}

        <div class="table-responsive">
                <table class="table table-bordered table-striped table-hover">
                  <tbody>
                    <tr>
                      <th scope="row">{{ form.category.label(class="form-control-label") }}</th>
                      <td>{{ form.category(class="form-control form-control-lg") }}</td>
                    </tr>
                    <tr>
                      <th scope="row">{{ form.name.label(class="form-control-label") }}</th>
                      <td>{{ form.name(class="form-control form-control-lg") }}</td>
                    </tr>
{#                    <tr>#}
{#                      <th scope="row">{{ form.number.label(class="form-control-label") }}</th>#}
{#                      <td>{{ form.number(class="form-control form-control-lg") }}</td>#}
{#                    </tr>#}
{#                    <tr>#}
{#                      <th scope="row">{{ form.barcode.label(class="form-control-label") }}</th>#}
{#                      <td>{{ form.barcode(class="form-control form-control-lg") }}</td>#}
{#                    </tr>#}
                    <tr>
                      <th scope="row">{{ form.comment.label(class="form-control-label") }}</th>
                      <td>{{ form.comment(class="form-control form-control-lg") }}</td>
                    </tr>

                    </tbody>
                </table>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <div class="form-group">{{ form.submit(class="btn btn-outline-info") }}</div>
{#        <button type="button" class="btn btn-primary">Save changes</button>#}
      </div>
        </form>
    </div>
  </div>
</div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel2">Add Category</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form class="user" action="" method="post">
            {{ form_category.hidden_tag() }}

        <div class="table-responsive">
                <table class="table table-bordered table-striped table-hover">
                  <tbody>
                    <tr>
                      <th scope="row">{{ form_category.name.label(class="form-control-label") }}</th>
                      <td>{{ form_category.name(class="form-control form-control-lg") }}</td>
                    </tr>
{#                    <tr>#}
{#                      <th scope="row">{{ form.number.label(class="form-control-label") }}</th>#}
{#                      <td>{{ form.number(class="form-control form-control-lg") }}</td>#}
{#                    </tr>#}
{#                    <tr>#}
{#                      <th scope="row">{{ form.barcode.label(class="form-control-label") }}</th>#}
{#                      <td>{{ form.barcode(class="form-control form-control-lg") }}</td>#}
{#                    </tr>#}
                    <tr>
                      <th scope="row">{{ form_category.comment.label(class="form-control-label") }}</th>
                      <td>{{ form_category.comment(class="form-control form-control-lg") }}</td>
                    </tr>

                    </tbody>
                </table>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <div class="form-group">{{ form_category.submit(class="btn btn-outline-info") }}</div>
{#        <button type="button" class="btn btn-primary">Save changes</button>#}
      </div>
        </form>
    </div>
  </div>
</div>
</div>

<div class="container-fluid">
<div style="overflow-x:auto;">
      <h4 class="text-primary">Categories</h4>
      <hr>

<table id="consumables" class="table table-bordered table-responsive table-striped">
    <thead>
      <tr>
{#        <th>ID</th>#}
        <th>Name</th>
        <th>Comment</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
</table>
</div>
</div>


<div class="container-fluid">
<div style="overflow-x:auto;">
      <h4 class="text-primary">Log</h4>
      <hr>

<table id="consumables_log" class="table table-bordered table-responsive table-striped">
    <thead>
      <tr>
{#        <th>ID</th>#}
        <th>Category</th>
        <th>Name</th>
        <th>Comment</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
</table>
</div>
</div>
{% block scripts %}
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.js"></script>

<script>
    $(document).ready(function () {
      $('#consumables').DataTable({
        ajax: '{{ url_for('flask_tools.consumables_data') }}',
        serverSide: true,
        retrieve: true,
        responsive: true,
        scrollX: false,
        columns: [
          {#{data: 'id'},#}
          {data: 'name'},
          {data: 'comment'},
        ],
      });
    });
  </script>

<script>
    $(document).ready(function () {
      $('#consumables_log').DataTable({
        ajax: '{{ url_for('flask_tools.consumables_log') }}',
        serverSide: true,
        retrieve: true,
        responsive: true,
        scrollX: false,
        columns: [
          {data: 'category'},
          {data: 'name'},
          {data: 'comment'},
        ],
      });
    });
  </script>
{% endblock %}
{% endblock body %}