{%  extends "layout.html" %}

{%  block body %}

<div class="row">

    <div class="container">
          <h1 class="text-dark">Workflow</h1>
{#          <h5>Only "PENDING"-Data shown</h5>#}

    </div>
    <hr width="100%" size="20" align="center" color="black" noshade>
</div>

<div class="container-fluid">
<div style="overflow-x:auto;">
      <h4 class="text-primary">Kapton Gluing</h4>
      <hr>

<table id="consumables" class="table table-bordered table-responsive table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Comment</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
</table>
</div>
</div>

<div class="container-fluid">
<div style="overflow-x:auto;">
      <h4 class="text-primary">Hybrid Gluing</h4>
      <hr>

<table id="consumables" class="table table-bordered table-responsive table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Comment</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
</table>
</div>
</div>


{% block scripts %}
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.js"></script>

<script>
    $(document).ready(function () {
      $('#consumables').DataTable({
        ajax: '{{ url_for('flask_tools.consumables_data') }}',
        serverSide: true,
        retrieve: true,
        responsive: true,
        scrollX: false,
        columns: [
          {data: 'id'},
          {data: 'name'},
          {data: 'comment'},
        ],
      });
    });
  </script>

{% endblock %}
{% endblock body %}