{%  extends "layout.html" %}

{%  block body %}

<div class="row">

    <div class="container">
          <h1 class="text-dark">Tools overview</h1>
{#          <h5>Only "PENDING"-Data shown</h5>#}

    </div>
    <hr width="100%" size="20" align="center" color="black" noshade>
</div>
<div class="container-fluid" align="right">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary bg-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
          <span class="fa fa-edit"></span> Add new Jig
        </button>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Jig</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form class="user" action="" method="post">
            {{ form.hidden_tag() }}

        <div class="table-responsive">
                <table class="table table-bordered table-striped table-hover">
                  <tbody>
                    <tr>
                      <th scope="row">{{ form.category.label(class="form-control-label") }}</th>
                      <td>{{ form.category(class="form-control form-control-lg") }}</td>
                    </tr>
                    <tr>
                      <th scope="row">{{ form.name.label(class="form-control-label") }}</th>
                      <td>{{ form.name(class="form-control form-control-lg") }}</td>
                    </tr>
                    <tr>
                      <th scope="row">{{ form.number.label(class="form-control-label") }}</th>
                      <td>{{ form.number(class="form-control form-control-lg") }}</td>
                    </tr>
                    <tr>
                      <th scope="row">{{ form.barcode.label(class="form-control-label") }}</th>
                      <td>{{ form.barcode(class="form-control form-control-lg") }}</td>
                    </tr>
                    <tr>
                      <th scope="row">{{ form.comment.label(class="form-control-label") }}</th>
                      <td>{{ form.comment(class="form-control form-control-lg") }}</td>
                    </tr>

                    </tbody>
                </table>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <div class="form-group">{{ form.submit(class="btn btn-outline-info") }}</div>
{#        <button type="button" class="btn btn-primary">Save changes</button>#}
      </div>
        </form>
    </div>
  </div>
</div>
</div>


<div class="container-fluid">
<div style="overflow-x:auto;">
      <h4 class="text-primary">Jigs for Baremodule</h4>
      <hr>

<table id="jigs_baremodule" class="table table-bordered table-responsive table-striped">
    <thead>
      <tr>
{#        <th>ID</th>#}
        <th>Name</th>
        <th>Number</th>
        <th>Barcode</th>
        <th>Comment</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
</table>
</div>
</div>

<div class="container-fluid">
<div style="overflow-x:auto;">
      <h4 class="text-primary">Jigs for Bonding</h4>
      <hr>

<table id="jigs_bonding" class="table table-bordered table-responsive table-striped">
    <thead>
      <tr>
{#        <th>ID</th>#}
        <th>Name</th>
        <th>Number</th>
        <th>Barcode</th>
        <th>Comment</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
</table>
</div>
</div>


<div class="container-fluid">
<div style="overflow-x:auto;">
      <h4 class="text-primary">Jigs for HV pigtaile</h4>
      <hr>

<table id="jigs_HVpigtaile" class="table table-bordered table-responsive table-striped">
    <thead>
      <tr>
{#        <th>ID</th>#}
        <th>Name</th>
        <th>Number</th>
        <th>Barcode</th>
        <th>Comment</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
</table>
</div>
</div>


<div class="container-fluid">
<div style="overflow-x:auto;">
      <h4 class="text-primary">Jigs for Hybride Gluing</h4>
      <hr>

<table id="jigs_hybridegluing" class="table table-bordered table-responsive table-striped">
    <thead>
      <tr>
{#        <th>ID</th>#}
        <th>Name</th>
        <th>Number</th>
        <th>Barcode</th>
        <th>Comment</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
</table>
</div>
</div>


<div class="container-fluid">
<div style="overflow-x:auto;">
      <h4 class="text-primary">Jigs for Kapton gluing</h4>
      <hr>

<table id="jigs_kaptongluing" class="table table-bordered table-responsive table-striped">
    <thead>
      <tr>
{#        <th>ID</th>#}
        <th>Name</th>
        <th>Number</th>
        <th>Barcode</th>
        <th>Comment</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
</table>
</div>
</div>

{% block scripts %}
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.js"></script>

<script>
    $(document).ready(function () {
      $('#jigs_baremodule').DataTable({
        ajax: '{{ url_for('flask_tools.jigs_baremodule_data') }}',
        serverSide: true,
        retrieve: true,
        responsive: true,
        scrollX: false,
        columns: [
          {#{data: 'id'},#}
          {data: 'name'},
          {data: 'number'},
          {data: 'barcode'},
          {data: 'comment'},
        ],
      });
    });
  </script>
<script>
    $(document).ready(function () {
      $('#jigs_bonding').DataTable({
        ajax: '{{ url_for('flask_tools.jigs_bonding_data') }}',
        serverSide: true,
        retrieve: true,
        responsive: true,
        scrollX: false,
        columns: [
          {#{data: 'id'},#}
          {data: 'name'},
          {data: 'number'},
          {data: 'barcode'},
          {data: 'comment'},
        ],
      });
    });
  </script>
    <script>
    $(document).ready(function () {
      $('#jigs_HVpigtaile').DataTable({
        ajax: '{{ url_for('flask_tools.jigs_HVpigtaile_data') }}',
        serverSide: true,
        retrieve: true,
        responsive: true,
        scrollX: false,
        columns: [
          {#{data: 'id'},#}
          {data: 'name'},
          {data: 'number'},
          {data: 'barcode'},
          {data: 'comment'},
        ],
      });
    });
  </script>
    <script>
    $(document).ready(function () {
      $('#jigs_hybridegluing').DataTable({
        ajax: '{{ url_for('flask_tools.jigs_hybridegluing_data') }}',
        serverSide: true,
        retrieve: true,
        responsive: true,
        scrollX: false,
        columns: [
          {#{data: 'id'},#}
          {data: 'name'},
          {data: 'number'},
          {data: 'barcode'},
          {data: 'comment'},
        ],
      });
    });
  </script>
    <script>
    $(document).ready(function () {
      $('#jigs_kaptongluing').DataTable({
        ajax: '{{ url_for('flask_tools.jigs_kaptongluing_data') }}',
        serverSide: true,
        retrieve: true,
        responsive: true,
        scrollX: false,
        columns: [
          {#{data: 'id'},#}
          {data: 'name'},
          {data: 'number'},
          {data: 'barcode'},
          {data: 'comment'},
        ],
      });
    });
  </script>
{% endblock %}
{% endblock body %}