{%  extends "layout.html" %}

{%  block body %}

<div class="row">
    <div class="container">
          <h1 class="text-dark">Pulltest {{ type }} - Detail for {{ timestamp_value }}</h1>
    </div>

</div>
<hr width="100%" size="20" align="center" color="black" noshade>


<div class="row">
    <div class="container">
          <h3 class="text-primary">General Properties</h3>
          <hr>
        <table class="table table-bordered table-responsive table-striped">
          <thead>
            <tr>
                <th scope="col">Type</th>
                <th scope="col">Datetime</th>
                <th scope="col">mean tearoffforce</th>
                <th scope="col">mean corrected tearoffforce</th>
{#                <th scope="col">mean teaofforce</th>#}
{#                <th scope="col">s teaofforce</th>#}
{#                <th scope="col">mean teaofforce</th>#}
{#                <th scope="col">mean teaofforce</th>#}
{#                <th scope="col">Comment</th>#}
{#                <th scope="col">Measurement Status</th>#}
{#                <th scope="col">Submission</th>#}
            </tr>
          </thead>
          <tbody>
              <tr>
                <td>{{ type }}</td>
                <td>{{ timestamp_value }}</td>
                <td>{{ data['mean_tearoffforce'] }} ±  {{ data['std_tearoffforce'] }} g</td>
                <td>{{ data['mean_corrected_tearoffforce'] }} ±  {{ data['std_corrected_tearoffforce'] }} g</td>
{#                <td style="background-color: {{ data.General_Grade.color }}">{{ data.General_Grade.value }}</td>#}
{#                <td style="background-color: {{ data.General_Grade_man.color }}">{{ data.General_Grade_man.value }}</td>#}
                <td></td>
{#                <td>{{ data.comment }}</td>#}
{#                <td>{{ data.measurement_status }}</td>#}
                <td></td>
            </tr>
{#            <tr>#}
{#                <td></td>#}
{#                <td></td>#}
{#                <td><div>{{ form.operator(class="form-control form-control-lg") }}</div></td>#}
{#                <td><div>{{ form.station(class="form-control form-control-lg") }}</div></td>#}
{#                <td></td>#}
{#                <td><div>{{ form.grade(class="form-control form-control-lg") }}</div></td>#}
{#                <td><div>{{ form.comment(class="form-control form-control-lg") }}</div></td>#}
{#                <td><div>{{ form.status(class="form-control form-control-lg") }}</div></td>#}
{#                <td><div class="form-group">{{ form.submit(class="btn btn-outline-info") }}</div></td>#}
{#            </tr>#}
          </tbody>
        </table>
    </div>
</div>


<table id="data" class="table table-bordered table-responsive table-striped">
    <thead>
      <tr>
        <th>Module</th>
        <th>tearoffforce</th>
        <th>corrected_tearoffforce</th>
        <th>gradecode</th>
        <th>resultclass</th>
        <th>automatic_grade</th>
        <th>manual_grade</th>
        <th>comment</th>
        <th>Details</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>


{% endblock body %}


{% block scripts %}
{#    <script type='text/javascript'>#}
{#      var graphs = {{graphJSON_list[0] | safe}};#}
{#      Plotly.plot('chart',graphs,{});#}
{#    </script>#}
{##}
{#    <script type='text/javascript'>#}
{#      var graphs = {{graphJSON_list[1] | safe}};#}
{#      Plotly.plot('chart2',graphs,{});#}
{#    </script>#}
{##}
{#    <script type='text/javascript'>#}
{#      var graphs = {{graphJSON_list[2] | safe}};#}
{#      Plotly.plot('chart3',graphs,{});#}
{#    </script>#}


  <script>
    $(document).ready(function () {
      $('#data').DataTable({
        ajax: '/pulltest/{{ type }}_timestamp_{{ timestamp_value }}/data',
        serverSide: true,
        retrieve: true,
        "bFilter": false,
        keys: true,
        lengthMenu: [[100], [100],],
        columns: [
          {data: 'module'},
          {data: 'tearoffforce'},
          {data: 'corrected_tearoffforce'},
          {data: 'gradecode'},
          {data: 'resultclass'},
          {data: 'automatic_grade'},
          {#{data: 'manual_grade'},#}
          {#{data: 'humidity'},#}
          {data: 'comment'},
          {data: 'link'},
        ],
      });
    });
  </script>

{% endblock scripts%}