{%  extends "layout.html" %}

{%  block body %}

<div>
      <h1>Pulltest - Module measurement</h1>
</div>

{% block content %}
  <table id="data" class="table table-bordered table-responsive table-striped">
    <thead>
      <tr>
          <th>ID</th>
        <th>Module</th>
          <th>Lot</th>
        <th>Datetime</th>
{#        <th>Operator</th>#}
{#        <th>Station</th>#}
{#        <th>Auto. Grade</th>#}
{#        <th>Temp.</th>#}
        <th>#</th>
        <th>comment</th>
        <th>Details</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
{% endblock %}


{% block scripts %}
  <script>
    $(document).ready(function () {
      $('#data').DataTable({
        ajax: '{{ url_for("flask_pulltest.pulltest_module_data_all") }}',
        serverSide: true,
        retrieve: true,
        "bFilter": false,
        keys: true,
        lengthMenu: [[50, 10, 100, 200], [50, 10, 100, 200],],
        columns: [
           {data: 'id'},
          {data: 'module'},
          {data: 'lot'},
          {data: 'timestamp'},
          {#{data: 'operator'},#}
          {#{data: 'automatic_grade'},#}
          {data: 'number_of_tests'},
          {data: 'comment'},
          {data: 'link'},
        ],
      });
    });
  </script>
{% endblock %}

{% endblock body %}