{%  extends "layout.html" %}

{%  block body %}

<div class="row">

    <div class="container">
          <h1 class="text-dark">Pulltest - Overview</h1>
          <h5>Only "PENDING"-Data shown</h5>

    </div>
    <div>
            <form method="post" align="right" action="/pulltest/get_data" method="post">
                    <button type="submit" class="btn btn-secondary">GET Data</button>
            </form>
    </div>
    <hr width="100%" size="20" align="center" color="black" noshade>
</div>




{% block content %}

<div class="container-fluid">
    <div class="row" size="100%">
        <div class="col-md-12" style="alignment: center">
            <h3 class="text-primary">New Pulltest Measurements</h3>
                  <table id="data_module" class="table table-bordered table-responsive table-striped">
                    <thead>
                      <tr>
                        <th>ID</th>
                        <th>Lot</th>
                        <th>Timestamp</th>
                         <th>Title</th>
                          <th>Lot</th>
                          <th>Comment</th>
                        <th>#</th>
                        <th>Details</th>
                      </tr>
                    </thead>
                    <tbody>
                    </tbody>
                  </table>
        </div>
{#        <div class="col-md-6">#}
{#            <h3 class="text-primary">Pulltest - HV</h3>#}
{#            <table id="data_HV" class="table table-bordered table-responsive table-striped">#}
{#                <thead>#}
{#                  <tr>#}
{#                        <th>ID</th>#}
{#                        <th>Lot</th>#}
{#                        <th>Timestamp</th>#}
{#                          <th>automatic_grade</th>#}
{#                        <th>#</th>#}
{#                        <th>Details</th>#}
{#                  </tr>#}
{#                </thead>#}
{#                <tbody>#}
{#                </tbody>#}
{#              </table>#}
{#        </div>#}
    </div>
</div>
{% endblock %}
{##}
{#<hr width="100%" size="20" align="center" color="black" noshade>#}
{#      <h5>  VALID DATA </h5>#}
{#<table id="data_valid" class="table table-bordered table-responsive table-striped">#}
{#    <thead>#}
{#      <tr>#}
{#        <th>Status</th>#}
{#        <th>id</th>#}
{#        <th>lot</th>#}
{#        <th>module</th>#}
{#        <th>tearoffforce</th>#}
{#        <th>corrected tearoffforce</th>#}
{#        <th>gradecode</th>#}
{#        <th>grade</th>#}
{#        <th>resultclass</th>#}
{#        <th>product</th>#}
{#        <th>Datetime</th>#}
{#        <th>comment</th>#}
{#        <th>Details</th>#}
{#      </tr>#}
{#    </thead>#}
{#    <tbody>#}
{#    </tbody>#}
{#  </table>#}
{##}
{#{% endblock %}#}


{% block scripts %}
<script>
    $(document).ready(function () {
      $('#data_module').DataTable({
        ajax: '/pulltest/overview/data_module',
        responsive: true,
        serverSide: true,
        retrieve: true,
        "bFilter": false,
        keys: true,
        lengthMenu: [[20, 50, 200, 1000], [20, 50, 200, 1000],],
        columns: [
          {data: 'id'},
          {data: 'lot'},
          {data: 'timestamp'},
          {data: 'pulltest_comment_title'},
            {data: 'pulltest_comment_lot'},
            {data: 'pulltest_comment_comment'},
          {data: 'number_of_tests'},
        {data: 'link'},
        ],
      });
    });
  </script>

{#    <script>#}
{#    $(document).ready(function () {#}
{#      $('#data_HV').DataTable({#}
{#        ajax: '/pulltest/overview/data_HV',#}
{#        responsive: true,#}
{#        serverSide: true,#}
{#        retrieve: true,#}
{#        "bFilter": false,#}
{#        keys: true,#}
{#        lengthMenu: [[5, 10, 20, 100], [5, 10, 20, 100],],#}
{#        columns: [#}
{#          {data: 'id'},#}
{#          {data: 'lot'},#}
{#          {data: 'timestamp'},#}
{#          {data: 'automatic_grade'},#}
{#          {data: 'number_of_tests'},#}
{#        {data: 'link'},#}
{#        ],#}
{#      });#}
{#    });#}
{#  </script>#}

{#        <script>#}
{#    $(document).ready(function () {#}
{#      $('#data_module_time').DataTable({#}
{#        ajax: '/pulltest/overview/data_module_timestamp',#}
{#        responsive: true,#}
{#        serverSide: true,#}
{#        retrieve: true,#}
{#        "bFilter": false,#}
{#        keys: true,#}
{#        lengthMenu: [[5, 10, 20, 100], [5, 10, 20, 100],],#}
{#        columns: [#}
{#            {data: 'lot'},#}
{#          {data: 'timestamp'},#}
{#          {data: 'link'},#}
{#        ],#}
{#      });#}
{#    });#}
{#  </script>#}
{##}
{#            <script>#}
{#    $(document).ready(function () {#}
{#      $('#data_HV_time').DataTable({#}
{#        ajax: '/pulltest/overview/data_HV_timestamp',#}
{#        responsive: true,#}
{#        serverSide: true,#}
{#        retrieve: true,#}
{#        "bFilter": false,#}
{#        keys: true,#}
{#        lengthMenu: [[5, 10, 20, 100], [5, 10, 20, 100],],#}
{#        columns: [#}
{#        {data: 'lot'},#}
{#          {data: 'timestamp'},#}
{#          {data: 'link'},#}
{#        ],#}
{#      });#}
{#    });#}
{#  </script>#}


{% endblock %}
{% endblock body %}