{%  extends "layout.html" %}

{%  block body %}

<div class="row">
    <div class="container">
          <h1 class="text-dark">Pulltest - Detail for Measurement id {{ data.id  }}</h1>
    </div>
</div>
<hr width="100%" size="20" align="center" color="black" noshade>


<div class="row">
    <div class="container">
          <h3 class="text-primary">General Properties</h3>
          <hr>
        <form class="user" action="" method="post">
            {{ form.hidden_tag() }}

        <table class="table table-bordered table-responsive table-striped">
          <thead>
            <tr>
                <th scope="col">Module</th>
                <th scope="col">Datetime</th>
                <th scope="col">Operator</th>
                <th scope="col">Station</th>
                <th scope="col">auto. Grade</th>
                <th scope="col">man. Grade</th>
                <th scope="col">Comment</th>
                <th scope="col">Measurement Status</th>
                <th scope="col">Submission</th>
            </tr>
          </thead>
          <tbody>
              <tr>
                <td>{{ data.Module_Overview.cern_module_id }}</td>
                <td>{{ data.timestamp }}</td>
                <td>{{ data.General_Operators.identifier }}</td>
                <td>{{ data.General_Station.identifier }}</td>
                <td style="background-color: {{ data.General_Grade.color }}">{{ data.General_Grade.value }}</td>
                <td style="background-color: {{ data.General_Grade_man.color }}">{{ data.General_Grade_man.value }}</td>
                <td>{{ data.comment }}</td>
                <td>{{ data.General_Status.name }}</td>
                                <td>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                      <span class="fa fa-edit"></span> Edit

                    </button>
                   {% if data.cmsdb_upload_status %}
                        CMSDB upload on {{ data.cmsdb_upload_timestamp.date() }}
                   {% else %}
                     <a href="{{ url_for("flask_upload.pulltest_module_upload", measurement_id=data.id) }}" class="btn btn-info" role="button"><i class="fas fa-paper-plane"></i> Upload to CMSDB</a>
                   {% endif %}
                </td>
            </tr>
          </tbody>
        </table>
        </form>
    </div>
</div>

    <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Measurement {{ data.id }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form class="user" action="" method="post">
            {{ form.hidden_tag() }}

        <div class="table-responsive">
                <table class="table table-bordered table-striped table-hover">
                  <tbody>
                   <tr>
                      <th scope="row">Module</th>
{#                      <td>{{ form.module(class="form-control form-control-lg") }}</td>#}
                   <td>
                       <input class="form-control" required name="module" list="module_list" id="module" placeholder="Type to search...">
                        <datalist id="module">
                            {% for module in module_list %}
                                <option value="{{ module[1] }}" >
                            {% endfor %}
                        </datalist>
                   </td>
                    </tr>
                    <tr>
                      <th scope="row">Operator</th>
                      <td>{{ form.operator(class="form-control form-control-lg") }}</td>
                    </tr>
                    <tr>
                      <th scope="row">Station</th>
                      <td>{{ form.station(class="form-control form-control-lg") }}</td>
                    </tr>
                   <tr>
                      <th scope="row">Assemlbystep</th>
                      <td>{{ form.assemblystep(class="form-control form-control-lg") }}</td>
                    </tr>
                    <tr>
                      <th scope="row">Grade</th>
                      <td>{{ form.grade(class="form-control form-control-lg") }}</td>
                    </tr>
                    <tr>
                      <th scope="row">Status</th>
                      <td>{{ form.status(class="form-control form-control-lg") }}</td>
                    </tr>
                    <tr>
                      <th scope="row">Comment</th>
                      <td>{{ form.comment(class="form-control form-control-lg") }}</td>
                    </tr>

                    </tbody>
                </table>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <div class="form-group">{{ form.submit(class="btn btn-outline-info") }}</div>
{#        <button type="button" class="btn btn-primary">Save changes</button>#}
      </div>
        </form>
    </div>
  </div>
</div>
</div>



<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <h5 class="text-primary">Measurement Informations</h5>
            <div class="table-responsive">
                <table class="table table-bordered table-striped table-hover">
                  <tbody>
                    <tr>
                      <th scope="row"> PulltestDB Product</th>
                      <td>{{ data.pulltest_product }} - {{ data.Pulltest_product.name }}</td>
                    </tr>
                    <tr>
                      <th scope="row">PulltestDB Lot</th>
                      <td>{{ data.pulltest_lot }}</td>
                    </tr>
                    <tr>
                      <th scope="row"> PulltestDB module</th>
                      <td>{{ data.module }}</td>
                    </tr>
                    <tr>
                      <th scope="row"> Number of test</th>
                      <td>{{ data.number_of_tests }}</td>
                    </tr>
                    <tr>
                      <th scope="row"></th>
                      <td></td>
                    </tr>
                    <tr>
                      <th scope="row"> Pulltest Title</th>
                      <td>{{ data.pulltest_comment_title }}</td>
                    </tr>
                    <tr>
                      <th scope="row"> Pulltest Lot</th>
                      <td>{{ data.pulltest_comment_lot }}</td>
                    </tr>
                    <tr>
                      <th scope="row"> Pulltest Comment</th>
                      <td>{{ data.pulltest_comment_comment }}</td>
                    </tr>
                    <tr>
                      <th scope="row"></th>
                      <td></td>
                    </tr>
                    <tr>
                      <th scope="row">Temp.</th>
                      <td style="background-color: {{ limit_colors['temp'] }}">{{ data.air_temperature }} °C</td>
                    </tr>
                    <tr>
                      <th scope="row">Hum.</th>
                      <td style="background-color: {{ limit_colors['hum'] }}">{{ data.air_humidity }} %H</td>
                    </tr>
                  </tbody>
                </table>
            </div>
        </div>

        <div class="col-md-6">
            <h5 class="text-primary">Measurement Results</h5>
            <div class="table-responsive">
                <table class="table table-bordered table-striped table-hover">
                  <tbody>
                    <tr>
                      <th scope="row">mean Tearoff force</th>
                      <td>{{ mean_data['mean_tearoffforce'] }} ± {{ mean_data['std_tearoffforce'] }} g</td>
                    </tr>
                    <tr>
                      <th scope="row">mean corrected Tearoff force</th>
                      <td>{{ mean_data['mean_corrected_tearoffforce'] }} ± {{ mean_data['std_corrected_tearoffforce'] }} g</td>
                    </tr>

                  </tbody>
                </table>
            </div>
            <div class="table-responsive">
                <table class="table table-bordered table-striped table-hover">
                  <thead>
                    <tr>
                      <th scope="col">Grade 1 (Lift-off on sensor)</th>
                      <th scope="col">Grade 2 (Heel Break on hybrid (tail))</th>
                      <th scope="col">Grade 3 (Wire break)</th>
                      <th scope="col">Grade 4 (Heel Break on hybrid (tail)(</th>
                      <th scope="col">Grade 5 (Lift-off on sensor)</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>{{ mean_data['Grade1'] }} %</td>
                      <td>{{ mean_data['Grade2'] }} %</td>
                      <td>{{ mean_data['Grade3'] }} %</td>
                      <td>{{ mean_data['Grade4'] }} %</td>
                      <td>{{ mean_data['Grade5'] }} %</td>
                    </tr>
                  </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<p>
  <a class="btn btn-danger" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
   Show all Details
  </a>
</p>

<p>
  <a class="btn btn-danger" data-bs-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false" aria-controls="collapseExample2">
   Show Hisotgrams
  </a>
</p>


<div class="container-fluid collapse" id="collapseExample">
    <div class="row">
        <div class="col-md-12">
            <h5 class="text-primary">Pulltest Details</h5>
            <div class="table-responsive">
                <table id="data" class="table table-bordered table-responsive table-striped">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Measurement ID</th>
                    <th>tearoffforce</th>
                    <th>corrected tearoffforce</th>
                    <th>resultclass</th>
                    <th>grade</th>
                    <th>correction_factor_id</th>
                  </tr>
                </thead>
                <tbody>
                </tbody>
              </table>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid collapse" id="collapseExample2">
    <div class="row">
    <h3 class="text-primary">Plots</h3>
        <hr>
    <div class="container-fluid">
        <div class="row" size="100%">
            <div class="col-md-4">
                <h3 class="text-dark">tearoff factor</h3>
                <div id="chart" class="chart"></div>
            </div>
            <div class="col-md-4">
                <h3 class="text-dark">corrected tearoff factor</h3>
                <div id="chart2"  class="chart"></div>
            </div>
            <div class="col-md-4">
                <h3 class="text-dark">Grade code</h3>
                 <div id="chart3"  class="chart"></div>
            </div>
        </div>
    </div>
</div>
</div>

{% endblock body %}


{% block scripts %}
    <script type='text/javascript'>
      var graphs = {{graphJSON_list[0] | safe}};
      Plotly.plot('chart',graphs,{});
    </script>

    <script type='text/javascript'>
      var graphs = {{graphJSON_list[1] | safe}};
      Plotly.plot('chart2',graphs,{});
    </script>

    <script type='text/javascript'>
      var graphs = {{graphJSON_list[2] | safe}};
      Plotly.plot('chart3',graphs,{});
    </script>

  <script>
    $(document).ready(function () {
      $('#data').DataTable({
        ajax: '/pulltest/id_{{ data.id }}/data',
        serverSide: true,
        retrieve: true,
        "bFilter": false,
        keys: true,
        lengthMenu: [[50, 100, 200], [50, 100, 200],],
        columns: [
          {data: 'id'},
          {data: 'pulltest_measurement_id'},
          {data: 'tearoffforce'},
          {data: 'corrected_tearoffforce'},
          {data: 'resultclass'},
          {data: 'grade'},
          {data: 'correction_factor_id'},
        ],
      });
    });
  </script>


{% endblock scripts%}