{%  extends "layout.html" %}

{%  block body %}

<div class="row">

    <div class="container">
          <h1 class="text-dark">Pulltest - Settings for Pulltest correction factor</h1>
{#          <h5>Only "PENDING"-Data shown</h5>#}

    </div>
    <hr width="100%" size="20" align="center" color="black" noshade>
</div>

<div class="container-fluid">
<div style="overflow-x:auto;">
      <h4 class="text-primary">Correction Factors from Database</h4>
      <hr>

<table id="data" class="table table-bordered table-responsive table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Datetime</th>
        <th>Module correction factor</th>
        <th>HV correction factor</th>
        <th>Comment</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
</table>
</div>
</div>

<div class="container-fluid">
    <div style="overflow-x:auto;">
          <h4 class="text-primary">Add new updated correction factor</h4>
          <hr>
        <form class="user" action="" method="post">
            {{ form.hidden_tag() }}
            {{ form.correction_factor_module.label(class="form-control-label") }}
            {{ form.correction_factor_module(class="form-control form-control-lg") }}
            {{ form.correction_factor_HV.label(class="form-control-label") }}
            {{ form.correction_factor_HV(class="form-control form-control-lg") }}
            {{ form.comment.label(class="form-control-label") }}
            {{ form.comment(class="form-control form-control-lg") }}
            {{ form.submit(class="btn btn-outline-info") }}
        </form>
    </div>
</div>

{% block scripts %}
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.js"></script>

<script>
    $(document).ready(function () {
      $('#data').DataTable({
        ajax: '/pulltest/correctionfactor/data',
        serverSide: true,
        retrieve: true,
        responsive: true,
        scrollX: false,
        columns: [
          {data: 'id'},
          {data: 'create_ts'},
          {data: 'correction_factor_module'},
          {data: 'correction_factor_HV'},
          {data: 'comment'},
        ],
      });
    });
  </script>


{% endblock %}
{% endblock body %}