{%  extends "layout.html" %}


{%  block header_navbar %}

{%  endblock header_navbar %}

{%  block body %}

<div class="row">

    <div class="container">
          <h1 class="text-dark">Upload Pulltest - N°{{ data.id }}</h1>
{#          <h5>Only "PENDING"-Data shown</h5>#}

    </div>
    <hr width="100%" size="20" align="center" color="black" noshade>
</div>

    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modal_upload_cms">
  <span class="fa fa-edit"></span> I confirm to upload

</button>
{##}
{#<div class="table-responsive">#}
{#                <table class="table table-bordered table-striped table-hover">#}
{#                  <tbody>#}
{#                    <tr>#}
{#                      <th scope="row">Module</th>#}
{#                      <td>{{ data.metrology_module }}</td>#}
{#                    </tr>#}
{#                    <tr>#}
{#                      <th scope="row">Operator</th>#}
{#                      <td>{{ data.operator }}</td>#}
{#                    </tr>#}
{#                    <tr>#}
{#                      <th scope="row">Location</th>#}
{#                      <td>{{ data.station }}</td>#}
{#                    </tr>#}
{#                    <tr>#}
{#                      <th scope="row">Comment</th>#}
{#                      <td>{{ data.comment }}</td>#}
{#                    </tr>#}
{##}
{#                    </tbody>#}
{#                </table>#}
{#      </div>#}

<h3>Preview of the generated xml file</h3>
<pre>
    <code class="language-xml">
        {{ xml_file }}
    </code>
</pre>

<!-- Modal -->
<div class="modal fade" id="modal_upload_cms" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Upload measurement to CMS DB</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form class="user" action="" method="post">
            {{ form.hidden_tag() }}

        Are you sure you want to upload this measurement to the central CMS DB?
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <div class="form-group">{{ form.submit(class="btn btn-outline-info") }}</div>
{#        <button type="button" class="btn btn-primary">Save changes</button>#}
      </div>
        </form>
    </div>
  </div>
</div>

{% block scripts %}


{% endblock %}
{% endblock body %}