{%  extends "layout.html" %}

{%  block body %}

<div>
      <h1>General - Status</h1>
      <hr>

</div>

{% block content %}
  <table id="data" class="table table-striped">
    <thead>
      <tr>
        <th>id</th>
        <th>Name</th>
        <th>Value</th>
        <th>Comment</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
{% endblock %}


{% block scripts %}
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.js"></script>
  <script>
    $(document).ready(function () {
      $('#data').DataTable({
        ajax: '/general/status_data',
        serverSide: true,
        retrieve: true,
        columns: [
          {data: 'id'},
          {data: 'Name'},
          {data: 'Value'},
          {data: 'Comment'}
        ],
      });
    });
  </script>
{% endblock %}

{% endblock body %}
