{%  extends "layout.html" %}

{%  block body %}

<div>
      <h1>General - Grade</h1>
      <hr>

</div>

{% block content %}
  <table id="data" class="table table-bordered table-responsive table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Value</th>
        <th>Comment</th>
      <th>Barcode</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
{% endblock %}


{% block scripts %}
        <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.js"></script>
  <script>
    $(document).ready(function () {
      $('#data').DataTable({
        ajax: '/general/grade/data',
        serverSide: true,
        retrieve: true,
        columns: [
          {data: 'id'},
          {data: 'value'},
          {data: 'comment'},
          {data: 'barcode'},
        ],
      });
    });
  </script>
{% endblock %}

{% endblock body %}