{%  extends "layout.html" %}

{%  block body %}

<div class="row">

    <div class="container">
          <h1 class="text-dark">Statistics</h1>
{#          <h5>Only "PENDING"-Data shown</h5>#}

    </div>
    <hr width="100%" size="20" align="center" color="black" noshade>
</div>

<div class="row">
    <div class="col-md-6 col-xl-3 mb-4">
        <div class="card shadow border-start-primary py-2">
            <div class="card-body">
                <div class="row align-items-center no-gutters">
                    <div class="col me-2">
                        <div class="text-uppercase text-primary fw-bold text-xs mb-1"><span>Modules</span></div>
                        <div class="text-dark fw-bold h5 mb-0"><span>{{ data['number_modules'] }}</span></div>
                    </div>
                    <div class="col-auto"><i class="fas fa-calendar fa-2x text-gray-300"></i></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-xl-3 mb-4">
        <div class="card shadow border-start-success py-2">
            <div class="card-body">
                <div class="row align-items-center no-gutters">
                    <div class="col me-2">
                        <div class="text-uppercase text-success fw-bold text-xs mb-1"><span>Value XY</span></div>
                        <div class="text-dark fw-bold h5 mb-0"><span>...</span></div>
                    </div>
                    <div class="col-auto"><i class="fas fa-dollar-sign fa-2x text-gray-300"></i></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-xl-3 mb-4">
        <div class="card shadow border-start-info py-2">
            <div class="card-body">
                <div class="row align-items-center no-gutters">
                    <div class="col me-2">
                        <div class="text-uppercase text-info fw-bold text-xs mb-1"><span>Value XZ</span></div>
                        <div class="row g-0 align-items-center">
                            <div class="col-auto">
                                <div class="text-dark fw-bold h5 mb-0 me-3"><span>...</span></div>
                            </div>
                            <div class="col">
                                <div class="progress progress-sm">
                                    <div class="progress-bar bg-info" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%;"><span class="visually-hidden">50%</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto"><i class="fas fa-clipboard-list fa-2x text-gray-300"></i></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-xl-3 mb-4">
        <div class="card shadow border-start-warning py-2">
            <div class="card-body">
                <div class="row align-items-center no-gutters">
                    <div class="col me-2">
                        <div class="text-uppercase text-warning fw-bold text-xs mb-1"><span>Value ZY</span></div>
                        <div class="text-dark fw-bold h5 mb-0"><span>...</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{##}
{#<div class="row">#}
{#    <div class="col-lg-7 col-xl-8">#}
{#        <div class="card shadow mb-4">#}
{#            <div class="card-header d-flex justify-content-between align-items-center">#}
{#                <h6 class="text-primary fw-bold m-0">Earnings Overview</h6>#}
{#                <div class="dropdown no-arrow"><button class="btn btn-link btn-sm dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" type="button"><i class="fas fa-ellipsis-v text-gray-400"></i></button>#}
{#                    <div class="dropdown-menu shadow dropdown-menu-end animated--fade-in">#}
{#                        <p class="text-center dropdown-header">dropdown header:</p><a class="dropdown-item" href="#"> Action</a><a class="dropdown-item" href="#"> Another action</a>#}
{#                        <div class="dropdown-divider"></div><a class="dropdown-item" href="#"> Something else here</a>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#            <div class="card-body">#}
{#                <div class="chart-area"><canvas height="640" width="1420" style="display: block; height: 320px; width: 710px;"></canvas></div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#    <div class="col-lg-5 col-xl-4">#}
{#        <div class="card shadow mb-4">#}
{#            <div class="card-header d-flex justify-content-between align-items-center">#}
{#                <h6 class="text-primary fw-bold m-0">Revenue Sources</h6>#}
{#                <div class="dropdown no-arrow"><button class="btn btn-link btn-sm dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" type="button"><i class="fas fa-ellipsis-v text-gray-400"></i></button>#}
{#                    <div class="dropdown-menu shadow dropdown-menu-end animated--fade-in">#}
{#                        <p class="text-center dropdown-header">dropdown header:</p><a class="dropdown-item" href="#"> Action</a><a class="dropdown-item" href="#"> Another action</a>#}
{#                        <div class="dropdown-divider"></div><a class="dropdown-item" href="#"> Something else here</a>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#            <div class="card-body">#}
{#                <div class="chart-area"><canvas height="640" width="652" style="display: block; height: 320px; width: 326px;"></canvas></div>#}
{#                <div class="text-center small mt-4"><span class="me-2"><i class="fas fa-circle text-primary"></i> Direct</span><span class="me-2"><i class="fas fa-circle text-success"></i> Social</span><span class="me-2"><i class="fas fa-circle text-info"></i> Refferal</span></div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</div>#}
<div class="row">
    <div class="col-lg-6 mb-4">
{#        <div class="card shadow mb-4">#}
{#            <div class="card-header py-3">#}
{#                <h6 class="text-primary fw-bold m-0">Projects</h6>#}
{#            </div>#}
{#            <div class="card-body">#}
{#                <h4 class="small fw-bold">Metrology measurements Good<span class="float-end">{{ data['metrology_sensor_measurements_total'] }}</span></h4>#}
{#                <div class="progress mb-4">#}
{#                    <div class="progress-bar bg-danger" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%;"><span class="visually-hidden">20%</span></div>#}
{#                </div>#}
{#                <h4 class="small fw-bold">Sales tracking<span class="float-end">40%</span></h4>#}
{#                <div class="progress mb-4">#}
{#                    <div class="progress-bar bg-warning" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%;"><span class="visually-hidden">40%</span></div>#}
{#                </div>#}
{#                <h4 class="small fw-bold">Customer Database<span class="float-end">60%</span></h4>#}
{#                <div class="progress mb-4">#}
{#                    <div class="progress-bar bg-primary" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"><span class="visually-hidden">60%</span></div>#}
{#                </div>#}
{#                <h4 class="small fw-bold">Payout Details<span class="float-end">80%</span></h4>#}
{#                <div class="progress mb-4">#}
{#                    <div class="progress-bar bg-info" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;"><span class="visually-hidden">80%</span></div>#}
{#                </div>#}
{#                <h4 class="small fw-bold">Account setup<span class="float-end">Complete!</span></h4>#}
{#                <div class="progress mb-4">#}
{#                    <div class="progress-bar bg-success" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"><span class="visually-hidden">100%</span></div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="text-primary fw-bold m-0">Number Metrology measurements</h6>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <div class="row align-items-center no-gutters">
                        <div class="col me-2">
                            <h6 class="mb-0"><strong>Sensor-Sensor</strong></h6><span class="text-xs"></span>
                        </div>
                        <div class="col-auto">
                            <div class="text-black">{{ data['metrology_sensor_measurements_total'] }}</div>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row align-items-center no-gutters">
                        <div class="col me-2">
                            <h6 class="mb-0"><strong>Sensor-Bridge</strong></h6><span class="text-xs"></span>
                        </div>
                        <div class="col-auto">
                            <div class="text-black">{{ data['metrology_bridge_measurements_total'] }}</div>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row align-items-center no-gutters">
                        <div class="col me-2">
                            <h6 class="mb-0"><strong>Height-profile</strong></h6><span class="text-xs"></span>
                        </div>
                        <div class="col-auto">
                            <div class="text-black">{{ data['metrology_height_measurements_total'] }}</div>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row align-items-center no-gutters">
                        <div class="col me-2">
                            <h6 class="mb-0"><strong>Metrology folder size</strong></h6><span class="text-xs"></span>
                        </div>
                        <div class="col-auto">
                            <div class="text-black">{{ data['file_size_surface_inspection'] }}</div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="text-primary fw-bold m-0">Number Pulltest measurements</h6>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <div class="row align-items-center no-gutters">
                        <div class="col me-2">
                            <h6 class="mb-0"><strong>Pulltest module</strong></h6><span class="text-xs"></span>
                        </div>
                        <div class="col-auto">
                            <div class="text-black">{{ data['metrology_height_measurements_total'] }}</div>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row align-items-center no-gutters">
                        <div class="col me-2">
                            <h6 class="mb-0"><strong>Pulltest HV</strong></h6><span class="text-xs"></span>
                        </div>
                        <div class="col-auto">
                            <div class="text-black">{{ data['metrology_height_measurements_total'] }}</div>
                        </div>
                    </div>
                </li>
{#                <li class="list-group-item">#}
{#                    <div class="row align-items-center no-gutters">#}
{#                        <div class="col me-2">#}
{#                            <h6 class="mb-0"><strong>Lunch meeting</strong></h6><span class="text-xs">12:30 AM</span>#}
{#                        </div>#}
{#                        <div class="col-auto">#}
{#                            <div class="form-check"><input id="formCheck-3" class="form-check-input" type="checkbox" /><label class="form-check-label" for="formCheck-3"></label></div>#}
{#                        </div>#}
{#                    </div>#}
{#                </li>#}
            </ul>
        </div>
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="text-primary fw-bold m-0">Number IV measurements</h6>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <div class="row align-items-center no-gutters">
                        <div class="col me-2">
                            <h6 class="mb-0"><strong>IV measurement at Reception</strong></h6><span class="text-xs"></span>
                        </div>
                        <div class="col-auto">
                            <div class="text-black">{{ data['metrology_height_measurements_total'] }}</div>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row align-items-center no-gutters">
                        <div class="col me-2">
                            <h6 class="mb-0"><strong>IV measurement at Assembly step</strong></h6><span class="text-xs"></span>
                        </div>
                        <div class="col-auto">
                            <div class="text-black">{{ data['metrology_height_measurements_total'] }}</div>
                        </div>
                    </div>
                </li>
{#                <li class="list-group-item">#}
{#                    <div class="row align-items-center no-gutters">#}
{#                        <div class="col me-2">#}
{#                            <h6 class="mb-0"><strong>Lunch meeting</strong></h6><span class="text-xs">12:30 AM</span>#}
{#                        </div>#}
{#                        <div class="col-auto">#}
{#                            <div class="form-check"><input id="formCheck-3" class="form-check-input" type="checkbox" /><label class="form-check-label" for="formCheck-3"></label></div>#}
{#                        </div>#}
{#                    </div>#}
{#                </li>#}
            </ul>
        </div>
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="text-primary fw-bold m-0">Number Surface Inspection</h6>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <div class="row align-items-center no-gutters">
                        <div class="col me-2">
                            <h6 class="mb-0"><strong>Surface Inspection Measurements</strong></h6><span class="text-xs"></span>
                        </div>
                        <div class="col-auto">
                            <div class="text-black">{{ data['surface_inspection_measurements_total'] }}</div>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row align-items-center no-gutters">
                        <div class="col me-2">
                            <h6 class="mb-0"><strong>Surface Inspection Images</strong></h6><span class="text-xs"></span>
                        </div>
                        <div class="col-auto">
                            <div class="text-black">{{ data['surface_inspection_images_total'] }}</div>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row align-items-center no-gutters">
                        <div class="col me-2">
                            <h6 class="mb-0"><strong>Surface Inspection folder size</strong></h6><span class="text-xs"></span>
                        </div>
                        <div class="col-auto">
                            <div class="text-black">{{ data['file_size_surface_inspection'] }}</div>
                        </div>
                    </div>
                </li>
{#                <li class="list-group-item">#}
{#                    <div class="row align-items-center no-gutters">#}
{#                        <div class="col me-2">#}
{#                            <h6 class="mb-0"><strong>Lunch meeting</strong></h6><span class="text-xs">12:30 AM</span>#}
{#                        </div>#}
{#                        <div class="col-auto">#}
{#                            <div class="form-check"><input id="formCheck-3" class="form-check-input" type="checkbox" /><label class="form-check-label" for="formCheck-3"></label></div>#}
{#                        </div>#}
{#                    </div>#}
{#                </li>#}
            </ul>
        </div>
    </div>
    <div class="col-lg-6 mb-4">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="text-primary fw-bold m-0">Postgres database size</h6>
            </div>
            {{ postgres_size | safe }}
        </div>

    </div>


{% endblock body %}