{%  extends "layout.html" %}

{%  block body %}

<div class="row">

    <div class="container">
          <h1 class="text-dark">IV-Curves - Modules</h1>
{#          <h5>Only "PENDING"-Data shown</h5>#}

    </div>
    <div>
        <form method="post" align="right" action="/iv/get_data" method="post">
                <button type="submit" class="btn btn-secondary"> <i class="fas fa-sync"></i> SYNC Data</button>
        </form>
    </div>
    <hr width="100%" size="20" align="center" color="black" noshade>
</div>

<div class="container-fluid">
<div style="overflow-x:auto;">
      <h4 class="text-primary">Newest Data</h4>
      <hr>

<table id="data" class="table table-bordered table-responsive table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Datetime</th>
        <th>Module</th>
        <th>Datapoints</th>
        <th>Assemblystep</th>
        <th>Breakdown voltage</th>
        <th>I@600V</th>
        <th>I800/I600</th>
        <th>I1000/I800</th>
        <th>Comment</th>
        <th>Details</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
</table>
</div>
</div>


{% block scripts %}

  <script>
    $(document).ready(function () {
      $('#data').DataTable({
        ajax: '/iv/module/data',
        serverSide: true,
        retrieve: true,
        "bFilter": false,
        keys: true,
        lengthMenu: [[5, 10, 50, 100, 200], [5, 10, 50, 100, 200],],
        columns: [
          {data: 'id'},
          {data: 'timestamp'},
          {data: 'iv_file_module'},
          {data: 'datapoints_number'},
          {data: 'assembly_step'},
          {data: 'maximum_voltage'},
          {data: 'current_value_at_600V'},
          {data: 'current_800/600'},
          {data: 'current_1000/800'},
          {data: 'comment'},
          {data: 'link'},
        ],
      });
    });
  </script>

{% endblock %}
{% endblock body %}