{%  extends "layout.html" %}

{%  block body %}

<div class="row">

    <div class="container">
          <h1 class="text-dark">All Plots</h1>
{#          <h5>Only "PENDING"-Data shown</h5>#}

    </div>
    <hr width="100%" size="20" align="center" color="black" noshade>
</div>



{% block scripts %}
{% endblock %}
{% endblock body %}