{%  extends "layout.html" %}

{%  block body %}

<div class="row">

    <div class="container">
          <h1 class="text-dark">All Plots</h1>
{#          <h5>Only "PENDING"-Data shown</h5>#}

    </div>
    <hr width="100%" size="20" align="center" color="black" noshade>
</div>


<div class="container-fluid w-100 p-3">
            <h5 class="text-primary">All Plots</h5>
                <div id="chart2" class="chart">
                    <script type='text/javascript'>
                      Plotly.newPlot('chart2', {{ graphJSON_list | safe }}, {{ plotly_layout | safe }}, {{ plotly_config | safe }});
                    </script>
                </div>

</div>

{% block scripts %}
{% endblock %}
{% endblock body %}