{%  extends "layout.html" %}


{%  block header_navbar %}
<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    <i class="far fa-search"></i> Other Measurements
  </button>
  <ul class="dropdown-menu">
      {% for i in range(all_ids|length) %}
            <li><a class="dropdown-item" href="id_{{ all_ids[i] }}">{{ all_sensors[i] }}</a></li>
      {% endfor %}

  </ul>
</div>
{%  endblock header_navbar %}

{%  block body %}

<div class="row">

    <div class="container">
          <h1 class="text-dark">Surface Inspection Details for {{ data.id }}</h1>
{#          <h5>Only "PENDING"-Data shown</h5>#}

    </div>
    <hr width="100%" size="20" align="center" color="black" noshade>
</div>

<div class="row">
    <div class="container">
          <h3 class="text-primary"> <i class="fas fa-info"></i> General Properties</h3>
          <hr>
        <form class="user" action="" method="post">
            {{ form.hidden_tag() }}

        <table class="table table-bordered table-responsive table-striped">
          <thead>
            <tr>
                <th scope="col">Sensor</th>
                <th scope="col">Datetime</th>
                <th scope="col">Assembly step</th>
{#                <th scope="col">Datetime</th>#}
                <th scope="col">Operator</th>
                <th scope="col">Station</th>
                <th scope="col">auto. Grade</th>
                <th scope="col">man. Grade</th>
                <th scope="col">Comment</th>
                <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
              <tr>
                  <td>{{ data.file_sensor }} <a href="/modules/sensor_{{ data.sensor }}" ><i class="fas fa-external-link-alt alert-danger"></i> </a></td>
                <td>{{ data.timestamp }}</td>
                  <td>{{ data.assembly_step }}</td>
                <td>{{ data.file_operator }}</td>
                <td>{{ data.General_Station.name }}</td>
{#                <td style="background-color: {{ data.General_Grade.color }}">{{ data.General_Grade.value }}</td>#}
{#                <td style="background-color: {{ data.General_Grade_man.color }}">{{ data.General_Grade_man.value }}</td>#}
                <td>{{ data.comment }}</td>
                <td></td>

                <td>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                      <span class="fa fa-edit"></span> Edit

                    </button>
                </td>
            </tr>
          </tbody>
        </table>
        </form>
    </div>
</div>
<div class="container-fluid">
    <p>
      <a class="btn btn-info" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
       <i class="fas fa-compass"></i> Coordinate System
      </a>
    </p>
    <div class="container-fluid collapse" id="collapseExample">
        <div class="zoomEffect_2">
            <img zoomtastic src="{{url_for('static', filename='img/modules/2sModuleSensorOrientationChnNmbring-coord-origin.drawio.png')}}"  alt="coordinates" align="middle" width="800" />
            <img zoomtastic src="{{url_for('static', filename='img/modules/2sModuleSensorOrientationChnNmbring-CAD-capture.drawio.png')}}"  alt="channels" align="middle" width="800" />
        </div>
    </div>
 </div>

<div class="table-responsive">
    <h1>Surface Inspection images</h1>
    <table class="table ">
      <thead>
        <tr>
          <th scope="col">
{#              <a href="{{url_for('static', filename='img/modules/2sModuleSensorOrientationChnNmbring-coord-origin.drawio.png') }}"><i class="fas fa-compass"></i></a>#}
{#              <a href="{{url_for('static', filename='img/modules/2sModuleSensorOrientationChnNmbring-CAD-capture.drawio.png') }}"><i class="fas fa-bars"></i></a>#}
            </th>
          <th scope="col">1</th>
          <th scope="col">2</th>
          <th scope="col">3</th>
          <th scope="col">4</th>
          <th scope="col">5</th>
        </tr>

      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
            <td><div id="openseadragon000" style="width: 430px; height: 300px;"></div></td>
            <td><div id="openseadragon015" style="width: 430px; height: 300px;"></div></td>
            <td><div id="openseadragon016" style="width: 430px; height: 300px;"></div></td>
            <td><div id="openseadragon031" style="width: 430px; height: 300px;"></div></td>
            <td><div id="openseadragon032" style="width: 430px; height: 300px;"></div></td>
        </tr>
        <tr>
          <th scope="row">2</th>
            <td><div id="openseadragon001" style="width: 430px; height: 300px;"></div></td>
            <td><div id="openseadragon014" style="width: 430px; height: 300px;"></div></td>
            <td><div id="openseadragon017" style="width: 430px; height: 300px;"></div></td>
            <td><div id="openseadragon030" style="width: 430px; height: 300px;"></div></td>
            <td><div id="openseadragon033" style="width: 430px; height: 300px;"></div></td>
        </tr>
        <tr>
          <th scope="row">3</th>
            <td><div id="openseadragon002" style="width: 430px; height: 300px;"></div></td>
            <td><div id="openseadragon013" style="width: 430px; height: 300px;"></div></td>
            <td><div id="openseadragon018" style="width: 430px; height: 300px;"></div></td>
            <td><div id="openseadragon029" style="width: 430px; height: 300px;"></div></td>
            <td><div id="openseadragon034" style="width: 430px; height: 300px;"></div></td>
        <tr>
          <th scope="row">4</th>
            <td><div id="openseadragon003" style="width: 430px; height: 300px;"></div></td>
            <td><div id="openseadragon012" style="width: 430px; height: 300px;"></div></td>
            <td><div id="openseadragon019" style="width: 430px; height: 300px;"></div></td>
            <td><div id="openseadragon028" style="width: 430px; height: 300px;"></div></td>
            <td><div id="openseadragon035" style="width: 430px; height: 300px;"></div></td>
            <tr>
          <th scope="row">5</th>
            <td><div id="openseadragon004" style="width: 430px; height: 300px;"></div></td>
            <td><div id="openseadragon011" style="width: 430px; height: 300px;"></div></td>
            <td><div id="openseadragon020" style="width: 430px; height: 300px;"></div></td>
            <td><div id="openseadragon027" style="width: 430px; height: 300px;"></div></td>
            <td><div id="openseadragon036" style="width: 430px; height: 300px;"></div></td>
        <tr>
          <th scope="row">6</th>
            <td><div id="openseadragon005" style="width: 430px; height: 300px;"></div></td>
            <td><div id="openseadragon010" style="width: 430px; height: 300px;"></div></td>
            <td><div id="openseadragon021" style="width: 430px; height: 300px;"></div></td>
            <td><div id="openseadragon026" style="width: 430px; height: 300px;"></div></td>
            <td><div id="openseadragon037" style="width: 430px; height: 300px;"></div></td>
        <tr>
          <th scope="row">7</th>
            <td><div id="openseadragon006" style="width: 430px; height: 300px;"></div></td>
            <td><div id="openseadragon009" style="width: 430px; height: 300px;"></div></td>
            <td><div id="openseadragon022" style="width: 430px; height: 300px;"></div></td>
            <td><div id="openseadragon025" style="width: 430px; height: 300px;"></div></td>
            <td><div id="openseadragon038" style="width: 430px; height: 300px;"></div></td>
        <tr>
          <th scope="row">8</th>
            <td><div id="openseadragon007" style="width: 430px; height: 300px;"></div></td>
            <td><div id="openseadragon008" style="width: 430px; height: 300px;"></div></td>
            <td><div id="openseadragon023" style="width: 430px; height: 300px;"></div></td>
            <td><div id="openseadragon024" style="width: 430px; height: 300px;"></div></td>
            <td><div id="openseadragon039" style="width: 430px; height: 300px;"></div></td>
        </tr>
      </tbody>
    </table>
</div>




<script type="text/javascript">
    {% for i in images %}
        OpenSeadragon({
            id: '{{ 'openseadragon' + i[-11:-8] }}',
            prefixUrl: "https://cdn.jsdelivr.net/gh/Benomrans/openseadragon-icons@main/images/",
            tileSources: '{{url_for('static', filename='data/surface_inspection/Sensors/' + i)}}',
            panHorizontal: 	true,
            defaultZoomLevel: 	1,
            minZoomLevel: 	1,
            maxZoomLevel: 	50,
            visibilityRatio: 	0.5,
            // Initial rotation angle
            degrees: 180,
            // Show rotation buttons
            showRotationControl: true,
            // Enable touch rotation on tactile devices
            gestureSettingsTouch: {
                pinchRotate: true
            }
        });
    {% endfor %}
</script>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Measurement {{ data.id }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form class="user" action="" method="post">
            {{ form.hidden_tag() }}

        <div class="table-responsive">
                <table class="table table-bordered table-striped table-hover">
                  <tbody>
                    <tr>
                      <th scope="row">Sensor</th>
                      <td>{{ data.iv_file_sensor }}</td>
                    </tr>
                    <tr>
                      <th scope="row">Operator</th>
                      <td>{{ form.operator(class="form-control form-control-lg") }}</td>
                    </tr>
                    <tr>
                      <th scope="row">Station</th>
                      <td>{{ form.station(class="form-control form-control-lg") }}</td>
                    </tr>
                    <tr>
                      <th scope="row">Grade</th>
                      <td>{{ form.grade(class="form-control form-control-lg") }}</td>
                    </tr>
                    <tr>
                      <th scope="row">Comment</th>
                      <td>{{ form.comment(class="form-control form-control-lg") }}</td>
                    </tr>

                    </tbody>
                </table>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <div class="form-group">{{ form.submit(class="btn btn-outline-info") }}</div>
{#        <button type="button" class="btn btn-primary">Save changes</button>#}
      </div>
        </form>
    </div>
  </div>
</div>

{% block scripts %}
<script src="/openseadragon/openseadragon.min.js"></script>


<script>
  // Listen to images after DOM content is fully loaded
  document.addEventListener('DOMContentLoaded', function () {
    new Zooming({
      customSize: '200%'
    }).listen('.img-zoomable')
  })
</script>

<!-- Load Zoomtastic from the CDN! -->
<script src="https://unpkg.com/zoomtastic@2.2.1"></script>

<script>
	// Mount viewer element
	Zoomtastic.mount({
		size: '80%',
		easing: 'ease',
		duration: 500,
		background: 'rgba(255,255,255, 1)',
		filter: 'drop-shadow(0 2px 16px rgba(0, 0, 0, 0.3))',
		animation: 'zoom' // Can be slide, fade, zoom or drop
	});

	// Listen for an elements that contains "zoomtastic" attribute,
	// and use "src" attribute as image source
	Zoomtastic.listen('[zoomtastic]', 'src');

	// Show image manually
	Zoomtastic.show('https://via.placeholder.com/256');

	// Hide image
	Zoomtastic.hide();

</script>
{% endblock scripts %}
{% endblock body %}