{%  extends "layout.html" %}

{%  block body %}

<div class="row">

    <div class="container">
          <h1 class="text-dark">Surface Inspection - Overview</h1>
{#          <h5>Only "PENDING"-Data shown</h5>#}

    </div>
    <div>
        <form method="post" align="right" action="/si/get_data" method="post">
                <button type="submit" class="btn btn-secondary"> <i class="fas fa-sync"></i> SYNC Data</button>
        </form>
    </div>
    <hr width="100%" size="20" align="center" color="black" noshade>
</div>

<div class="container-fluid">
<div style="overflow-x:auto;">
      <h4 class="text-primary">All Data</h4>
      <hr>

<table id="data" class="table table-bordered table-responsive table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Datetime</th>
        <th>Sensor</th>
        <th>Module</th>
        <th>Assemblystep</th>
        <th>Comment</th>
        <th>Details</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
</table>
</div>
</div>


{% block scripts %}

  <script>
    $(document).ready(function () {
      $('#data').DataTable({
        ajax: '{{ url_for("flask_si.si_overview_data") }}',
        serverSide: true,
        retrieve: true,
        "bFilter": true,
        keys: true,
        dom: 'Blfrtip',
        buttons: [
            'colvis',
            'csv',
            'excel',
            'pdf'
        ],
        lengthMenu: [[50, 10, 100, 200], [50, 10, 100, 200],],
        columns: [
          {data: 'id'},
          {data: 'timestamp'},
          {data: 'file_sensor'},
          {data: 'file_module'},
          {data: 'assembly_step'},
          {data: 'comment'},
          {data: 'link'},
        ],
      });
    });
  </script>

{% endblock %}
{% endblock body %}