{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <h1>Something went wrong (500)</h1>
        <p>We're experiencing some trouble on our end. Please try again in the near future</p>
    </div>
    <script
  src="https://browser.sentry-cdn.com/7.15.0/bundle.min.js"
  integrity="sha384-PqiX8ahlE6YeAoIVKdKCVIrGFo9vlS8nYD9v+/5Len/XiUpZkii7ehjsDMsNnXKo"
  crossorigin="anonymous"
    ></script>
{% endblock content %}
