{%  extends "layout.html" %}


{%  block header_navbar %}
<div class="container text-center">
        <a href="{{ url_for("flask_workflow.mod_basePlate") }}" class="btn btn-info" role="button"><i class="fas fa-long-arrow-left"></i>  previous Step</a>
        <a href="{{ url_for("flask_workflow.mod_bareSEH") }}" class="btn btn-info" role="button"><i class="fas fa-long-arrow-right"></i> next step</a>
</div>
{%  endblock header_navbar %}

{%  block body %}

<div class="row">

    <div class="container">
          <h1 class="text-dark">Module assembly</h1>
            <p></p>

    </div>
    <hr width="100%" size="20" align="center" color="black" noshade>
</div>

 <div class="container" align="center">
    <h3><strong>mod_bareFEH</strong></h3>
        <form class="user" action="" method="post">
            {{ form.hidden_tag() }}
            {{ form.csrf_token }}
        <div class="table-responsive">
                <table class="table table-bordered table-striped table-hover">
                  <tbody>
                    <tr>
                      <th scope="row">Module</th>
                      <td>
                        <input class="form-control" required name="module" list="modules_list" id="module" placeholder="Type to search...">
                            <datalist id="modules_list">
                                {% for value in modules_list %}
                                    <option value="{{ value }}">
                                {% endfor %}
                            </datalist>
                      </td>
                    </tr>
                     <th scope="row">left FEH</th>
                      <td>
                        <input class="form-control" required name="left_feh" list="feh_list" id="left_feh" placeholder="Type to search...">
                            <datalist id="feh_list">
                                {% for value in feh_list %}
                                    <option value="{{ value }}">
                                {% endfor %}
                            </datalist>
                      </td>
                    </tr>
                    </tr>
                     <th scope="row">right FEH</th>
                      <td>
                        <input class="form-control" required name="right_feh" list="feh_list" id="right_feh" placeholder="Type to search...">
                            <datalist id="feh_list">
                                {% for value in feh_list %}
                                    <option value="{{ value }}">
                                {% endfor %}
                            </datalist>
                      </td>
                    </tr>
                    <tr>
                      <th scope="row">Operator</th>
{#                        <td>{{ form.operator(class="form-control form-control-lg") }}</td>#}
                      <td>
                            <input class="form-control" required name="operator" list="operators_list" id="operator" placeholder="Type to search...">
                                <datalist id="operators_list">
                                    {% for value in operators_list %}
                                        <option value="{{ value }}">
                                    {% endfor %}
                                </datalist>
                      </td>
                    </tr>
                    <tr>
                      <th scope="row">Grade</th>
                        <td>{{ form.grade(class="form-control form-control-lg") }}</td>
                    </tr>
                    <tr>
                      <th scope="row">Comment</th>
                        <td>{{ form.comment(class="form-control form-control-lg") }}</td>
                    </tr>
{#                     <tr>#}
{#                       <th scope="row">Measurements</th>#}
{#                       <td>#}
{#                          <div class="form-check">#}
{#                              <input class="form-check-input" type="checkbox" value="" name="measurement_iv_done">#}
{#                              <label class="form-check-label" for="flexCheckDefault">#}
{#                                IV-Module#}
{#                              </label>#}
{#                            </div>#}
{#                   </td>#}
{#                    </tr>#}
                    </tbody>
                </table>

      </div>
      <div class="modal-footer">
{#        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>#}
          <div class="form-group">{{ form.submit(class="btn btn-outline-info") }}</div>
{#        <button type="button" class="btn btn-primary">Save changes</button>#}
      </div>
        </form>
</div>


  <table id="data" class="table table-bordered table-responsive table-striped">
    <thead>
      <tr>
        <th>Timestamp</th>
        <th>Module</th>
        <th>left FEH</th>
        <th>right FEH</th>
        <th>Operator</th>
        <th>Grade</th>
        <th>Comment</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>



{% block scripts %}
<script>
$(document).ready(function () {
  $('#data').DataTable({
    ajax: '{{ url_for("flask_workflow.mod_bareFEH_data") }}',
    serverSide: true,
    retrieve: true,
    "bFilter": true,
    keys: true,
    lengthMenu: [[20, 10, 50, 100], [20, 10, 50, 100],],
    columns: [
      {data: 'timestamp'},
      {data: 'module_name'},
      {data: 'left_feh'},
      {data: 'right_feh'},
      {data: 'operator'},
      {data: 'grade'},
      {data: 'comment'},
    ],
  });
});
</script>



{% endblock %}
{% endblock body %}