{%  extends "layout.html" %}


{%  block header_navbar %}
<div class="container text-center">
        <a href="{{ url_for("flask_workflow.workflow") }}" class="btn btn-info" role="button"><i class="fas fa-long-arrow-left"></i>  previous Step</a>
        <a href="{{ url_for("flask_workflow.mod_polyimide") }}" class="btn btn-info" role="button"><i class="fas fa-long-arrow-right"></i> next step</a>
</div>
{%  endblock header_navbar %}

{%  block body %}

<div class="row">

    <div class="container">
          <h1 class="text-dark">Sensor Reception (mod_bareSensor)</h1>
            <p></p>

    </div>
    <hr width="100%" size="20" align="center" color="black" noshade>
</div>

 <div class="container" align="center">
        <form class="user" action="" method="post">
            {{ form.hidden_tag() }}
            {{ form.csrf_token }}
        <div class="table-responsive">
                <table class="table table-bordered table-striped table-hover">
                  <tbody>
                    <tr>
                      <th scope="row">Sensor</th>
                      <td>
                        <input class="form-control" required name="sensor" list="sensors_list" id="sensor" placeholder="Type to search...">
                            <datalist id="sensors_list">
                                {% for value in sensors_list %}
                                    <option value="{{ value }}">
                                {% endfor %}
                            </datalist>
                      </td>

{#                      <td>{{ form.sensor(class="form-control form-control-lg") }}</td>#}
                    </tr>
                    <tr>
                      <th scope="row">Operator</th>
{#                        <td>{{ form.operator(class="form-control form-control-lg") }}</td>#}
                      <td>
                            <input class="form-control" required name="operator" list="operators_list" id="operator" placeholder="Type to search...">
                                <datalist id="operators_list">
                                    {% for value in operators_list %}
                                        <option value="{{ value }}">
                                    {% endfor %}
                                </datalist>
                      </td>
                    </tr>
                    <tr>
                      <th scope="row">Grade</th>
                        <td>{{ form.grade(class="form-control form-control-lg") }}</td>
                    </tr>
                    <tr>
                      <th scope="row">Comment</th>
                        <td>{{ form.comment(class="form-control form-control-lg") }}</td>
                    </tr>
                     <tr>
                       <th scope="row">Measurements</th>
                       <td>
                          <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="" name="measurement_iv_done">
                              <label class="form-check-label" for="flexCheckDefault">
                                IV-Sensor
                              </label>
                            </div>
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="" name="measurement_metrology_sensor_done">
                              <label class="form-check-label" for="flexCheckChecked">
                                Sensor Metrology
                              </label>
                            </div>
                   </td>
                    </tr>
                    </tbody>
                </table>

      </div>
      <div class="modal-footer">
{#        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>#}
          <div class="form-group">{{ form.submit(class="btn btn-outline-info") }}</div>
{#        <button type="button" class="btn btn-primary">Save changes</button>#}
      </div>
        </form>
</div>


  <table id="data" class="table table-bordered table-responsive table-striped">
    <thead>
      <tr>
        <th>Timestamp</th>
        <th>Sensor</th>
        <th>Operator</th>
        <th>Grade</th>
        <th>Comment</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>



{% block scripts %}
<script>
$(document).ready(function () {
  $('#data').DataTable({
    ajax: '{{ url_for("flask_workflow.mod_bareSensor_data") }}',
    serverSide: true,
    retrieve: true,
    "bFilter": true,
    keys: true,
    lengthMenu: [[20, 10, 50, 100], [20, 10, 50, 100],],
    columns: [
      {data: 'timestamp'},
      {data: 'sensor_name'},
      {data: 'operator'},
      {data: 'grade'},
      {data: 'comment'},
    ],
  });
});
</script>



{% endblock %}
{% endblock body %}