{%  extends "layout.html" %}


{%  block header_navbar %}
{#<div class="dropdown">#}
{#  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">#}
{#    <i class="far fa-search"></i> Other Measurements#}
{#  </button>#}
{#  <ul class="dropdown-menu">#}
{#      {% for i in range(all_ids|length) %}#}
{#            <li><a class="dropdown-item" href="id_{{ all_ids[i] }}">{{ all_sensors[i] }}</a></li>#}
{#      {% endfor %}#}
{##}
{#  </ul>#}
{#</div>#}
{%  endblock header_navbar %}

{%  block body %}

<div class="row">

    <div class="container">
          <h1 class="text-dark">QR-Code Reader</h1>
            <p>Preselected QR-Codes to use</p>
    </div>
    <hr width="100%" size="20" align="center" color="black" noshade>
</div>

  <table id="data" class="table table-bordered table-responsive table-striped">
    <thead>
      <tr>
        <th>Definition</th>
        <th>QR-Code</th>
      </tr>
    </thead>
    <tbody>
        {% for image in data %}
            <tr>
                <td> {{ image[0] }} </td>
                <td ><img src="data:image/svg+xml,{{ image[1] }}" width="200px"/></td>
            </tr>
        {% endfor %}
    </tbody>
  </table>


{% block scripts %}

{% endblock %}
{% endblock body %}