{%  extends "layout.html" %}


{%  block header_navbar %}
<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    <i class="far fa-search"></i> Other Measurements
  </button>
  <ul class="dropdown-menu">
      {% for i in range(all_ids|length) %}
            <li><a class="dropdown-item" href="id_{{ all_ids[i] }}">{{ all_sensors[i] }}</a></li>
      {% endfor %}

  </ul>
</div>
{%  endblock header_navbar %}

{%  block body %}

<div class="row">

    <div class="container">
          <h1 class="text-dark">Workflow</h1>
            <p>Please select your application</p>

    </div>
    <hr width="100%" size="20" align="center" color="black" noshade>
</div>


<div class="container-fluid">
    <div class="row" size="100%">
        <div class="col-md-3">
            <div class="card" style="width: fit-content;">
            <h3 align="center">Sensors</h3>
              <ul class="list-group list-group-flush">
                <li class="list-group-item"><a href="{{ url_for("flask_workflow.mod_bareSensor") }}">1. Sensor Reception (Bare sensor) </a></li>
                <li class="list-group-item"><a href="{{ url_for("flask_workflow.mod_polyimide") }}">2. Kapton strips glued (mod_polyimide) </a></li>
                <li class="list-group-item"><a href="{{ url_for("flask_workflow.mod_tail") }}">3. Pigtails glued </a></li>
                <li class="list-group-item"><a href="{{ url_for("flask_workflow.mod_tailBonded") }}">4. Pigtails bonded </a></li>
                <li class="list-group-item"><a href="{{ url_for("flask_workflow.mod_tailEncapsulated") }}">5. Pigtails encapsulated </a></li>
              </ul>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card" style="width: fit-content;">
                <h3 align="center">Modules</h3>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item"><a href="{{ url_for("flask_workflow.mod_bareModule") }}">1. Bare Module assembly (mod_bareModule) </a></li>
                    <li class="list-group-item"><a href="{{ url_for("flask_workflow.mod_basePlate") }}">2. Bare module to base plate (mod_basePlate) </a></li>
                    <li class="list-group-item"><a href="{{ url_for("flask_workflow.mod_bareFEH") }}">3. FEH assembled (mod_bareFEH) </a></li>
                    <li class="list-group-item"><a href="{{ url_for("flask_workflow.mod_bareSEH") }}">4. SEH fully assembled (mod_bareSEH)</a></li>
                    <li class="list-group-item"><a href="{{ url_for("flask_workflow.mod_bonded") }}">5. Module wire-bonded (mod_bonded)</a></li>
                    <li class="list-group-item"><a href="{{ url_for("flask_workflow.mod_topEncapsulated") }}">6. After top encapsulation (mod_topEncapsulated) </a></li>
                    <li class="list-group-item"><a href="{{ url_for("flask_workflow.mod_bottomEncapsulated") }}">7. After bottom encapsulation (mod_bottomEncapsulated )</a></li>
                    <li class="list-group-item"><a href="{{ url_for("flask_workflow.mod_final") }}">8. Final module (mod_final)</a></li>
                    <li class="list-group-item"><a href="{{ url_for("flask_workflow.mod_finalCold") }}">9. Final module test cold (mod_finalCold)</a></li>
                  </ul>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card" style="width: fit-content;">
                <h3 align="center">Procurement and Shipment</h3>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item"><a href="{{ url_for("flask_workflow.workflow") }}">Incoming from CMS DB </a></li>
                    <li class="list-group-item"><a href="{{ url_for("flask_workflow.workflow") }}">Outgoing from CMS DB</a></li>
                    <li class="list-group-item"><a href="https://cmsdca.cern.ch/trk_cmsr/tracking/dashboard">Link to DCA CMS DB Shimpment </a></li>
                  </ul>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card" style="width: fit-content;">
                <form class="user" action="" method="post" enctype='multipart/form-data'>
                        {{ form.hidden_tag() }}
                        {{ form.csrf_token }}
                        <h5>Scan your QR-Code</h5>
                        <dir class="class=border form-control">
                            {{ form.input.label(class="form-control-label") }}
                            <input id="input" name="input" value="QR-Code" />
                        </dir>
                    <div class="form-group">
                        {{ form.submit(class="btn btn-outline-info") }}
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


{% block scripts %}
    <script>
        var input = document.getElementById('input');
        input.focus();
        input.select();
    </script>
{% endblock %}
{% endblock body %}